# Local directories for local testing
cmake-build-debug/**
CMakeLists.txt
.idea/**
images/top_1.png
images/top_2.png
images/temp
images/favicon
images/offline
images/post
newsbit/_posts/post.sh
newsbit/scratch.txt
Gemfile.lock
.sass-cache/**
assets/**
scratch/**
_data/drafts.yml
_drafts/**
_site
_sass/*.map
news/.sass-cache/**
news/*.bak
stories/*.bak
topic/*.bak
stories/*.md
_includes/.sass-cache/**
_posts/.sass-cache/**
_sass/.sass-cache/**
session
test
test/**
# GitEye project
.project