# Local directories for local testing
.sass-cache/**
_data/drafts.yml
_drafts/**
_site
_sass/*.map
_includes/.sass-cache/**
_posts/.sass-cache/**
_sass/.sass-cache/**
session
test
test/**
# GitEye project
.project