# Local directories for local testing
CMakeLists.txt
.idea/**
images/temp
newsbit/_posts/post.sh
newsbit/scratch.txt
Gemfile.lock
.sass-cache/**
assets/**
scratch/**
_data/drafts.yml
_drafts/**
_site
_sass/*.map
news/*.md
news/.sass-cache/**
_includes/.sass-cache/**
_posts/.sass-cache/**
_sass/.sass-cache/**
session
test
test/**
# GitEye project
.project