<div id="announcement">
    {% capture nowday %}{{ 'now' | date: '%Y-%m-%d' }}{% endcapture %}
    {% capture nowyear  %}{{ 'now' | date: '%Y' }}{% endcapture %}
    {% assign found = false %}
    {% for post in site.categories['announce'] limit:1 %}
        {% capture postdate %}{{ post.date | date: '%Y-%m-%d' }}{% endcapture %}
        {% if postdate == nowday %}
            <div class="announcement_heading">
                <img src="{{ post.image }}" class="label"/>
                <h1>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;
                    {{ post.title }}
                </h1>
                {% if post.date == nil %}
                    <p class="date">Undated</p>
                {% else %}
                    <p class="date">
                        {% capture postyear %}{{ post.date | date: '%Y' }}{% endcapture %}
                        {% if postdate == nowday %}
                            {{ post.date | date: site.data.format.same_day }}
                        {% elsif postyear == nowyear %}
                            {{ post.date | date: site.data.format.same_year }}
                        {% endif %}
                    </p>
                {% endif %}
            </div>
            {% if post.excerpt != nil %}
                <p class="excerpt">{{ post.excerpt }}</p>
            {% endif %}
            {% assign found = true %}
            {% break %}
        {% endif %}
    {% endfor %}
    {% if found == false %}
        <!-- Random announcement -->
        <script type="text/javascript">
            var announce_title = [{% for announce in site.data.announcement %}"{{ announce.title }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
            var announce_text =  [{% for announce in site.data.announcement %}"{{ announce.text }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
            
            var total = announce_title.length;
            var count = 1;
            
            if (total == 1) {
                document.write("<div class='announcement_heading'>");
                document.write("<h1>" + announce_title[0] + "</h1>");
                document.write("<p class='excerpt'>" + announce_text[0] + "</p>");
                document.write("</div>");
            } else {
                // Keep used random number here so we could check which
                // numbers where already used and not use them again.
                var randomUsed = [];
                var counter = 0;

                if (total > 0) {
                    while (counter < count) {
                        var randomIndex = Math.floor(Math.random() * total);
                        if (randomUsed.indexOf(randomIndex) == "-1") {
                        
                            document.write("<div class='announcement_heading'>");
                            document.write("<h1>" + announce_title[randomIndex] + "</h1>");
                            document.write("</div>");
                            document.write("<p class='excerpt'>" + announce_text[randomIndex] + "</p>");
                            
                            // Store the new random number
                            randomUsed.push(randomIndex);
                            counter++;
                        }
                    }
                }
            }
        </script>
    {% endif %}
</div>
