<!-- <h1>Main Menu</h1>
{% for p in site.pages_list %}
    {% if page.group == p[0] %}
    <li class='list_style_none'><a href="{{ site.baseurl }}{{ p[1]  }}" class="active"><span class="arrow">&#x25B6;</span>{{ p[0] }}</a></li>
    {% else %}
    <li class='list_style_none'><a href="{{ site.baseurl }}{{ p[1]  }}"><span class="arrow">&#x25B6;</span>{{ p[0] }}</a></li>
    {% endif %}
{% endfor %}
-->
<ul>
{% for item in site.data.nav %}
    {% if item.mode != "dev" %}
    <li>
        <a href="{{ item.link }}"  {% if page.url == nav_item.link %} class="active" {% endif %}>
            <i class="{{ item.fa_icon }}" aria-hidden="true"></i>
            <span class="name">{{ item.name }}</span>
        </a>
    </li>
    {% endif %}
{% endfor %}

{% if site.development == true %}
    {% for item in site.data.nav %}
        {% if item.mode == dev %}
        <li>
            <a href="{{ item.link }}"  {% if page.url == nav_item.link %} class="active" {% endif %}>
                <i class="{{ item.fa_icon }}" aria-hidden="true"></i>
                <span class="name">{{ item.name }}</span>
            </a>
        </li>
        {% endif %}
    {% endfor %}
{% endif %}

</ul>
