<div>
<ul id="nav_top">
    <li>
        <a href="/">{{ site.title }}</a>
    </li>
    <li>
        <a href="/news/top/">Top News</a>
    </li>
    <li>
        <a href="/news/business/">Business</a>
    </li>
    {% comment %}
    <li>
        <a href="/">Sections</a>
    </li>
    {% endcomment %}
    {% if site.development %}
    <li class="dropdown">
        <a href="/info/" class="dropdown_link">Info</a>
        <div class="dropdown_content">
            {% for item in site.data.sections %}
                {% if item.mode != "dev" %}
            <a href="{{ item.link }}">{{ item.name }}</a>
                {% endif %}
            {% endfor %}
            {% for item in site.data.sections %}
                {% if item.mode == "dev" %}
            <a href="{{ item.link }}">{{ item.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </li>
    {% endif %}

    {% for item in site.data.socmed %}
        <li class="right">
            <a href="{{ item.link }}" target="{{ item.target }}" alt="{{ item.name }}"
                data-toggle="tooltip" 
                data-placement="top"
                title="{{ item.message }}">
                <i class="{{ item.fa_icon }} fa-lg" aria-hidden="true"></i>
            </a>
        </li>
    {% endfor %}
</ul>
</div>
