{% if site.categories['other'].size > 0 %}
    {% assign otherPostCount = 0 %}
<div class="block sub_block block_default_fonts right">
    <div class="entries">
    {% for post in site.categories['other'] %}
        <div class="entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
        </div>
        {% if post.categories contains 'top' or post.categories contains 'headline' %}
            {% continue %}
        {% endif %}
        {% assign otherPostCount = otherPostCount | plus: 1 %}
        {% if otherPostCount == 8 %}
            {% break %}
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}
