{% assign businessPostCount = 0 %}
{% for post in site.categories['business'] %}
    {% if post.categories contains 'top' %}
        {% assign businessPostCount = businessPostCount | plus: 1 %}
        {% if businessPostCount == 7 %}
            {% break %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if businessPostCount > 0 %}
<div class="block block_default_fonts">
    <h1>Business</h1>
    <div class="links business_links">
        {% for i in (1..businessPostCount) %}
        <span class="business_dot slideshow_dot" onclick="currentBusinessSlide({{ i }})"></span>
        {% endfor %}
    </div>
    <div class="entries">
        {% assign businessPostCount = 0 %}
        {% for post in site.categories['business'] %}
            {% if post.categories contains 'top' %}
        <div class="entry business_news_entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
        </div>
                {% assign businessPostCount = businessPostCount | plus: 1 %}
                {% if businessPostCount == 7 %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
