{% assign peaceProcessPostCount = 0 %}
{% for post in site.categories['peace process'] %}
    {% if post.categories contains 'top' %}
        {% assign peaceProcessPostCount = peaceProcessPostCount | plus: 1 %}
        {% if peaceProcessPostCount == 7 %}
            {% break %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if peaceProcessPostCount > 0 %}
<div class="block block_default_fonts">
    <h1>Peace Process</h1>
    <div class="links peaceprocess_links">
        {% for i in (1..peaceProcessPostCount) %}
        <span class="peaceprocess_dot slideshow_dot" onclick="currentPeaceProcessSlide({{ i }})"></span>
        {% endfor %}
    </div>
    <div class="entries">
        {% assign peaceProcessPostCount = 0 %}
        {% for post in site.categories['peace process'] %}
            {% if post.categories contains 'top' %}
        <div class="entry peaceprocess_news_entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
        </div>
                {% assign peaceProcessPostCount = peaceProcessPostCount | plus: 1 %}
                {% if peaceProcessPostCount == 7 %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
