{% assign agrarianPostCount = 0 %}
{% if site.categories['agrarian'].size > 0 %}
    {% for post in site.categories['agrarian'] %}
        {% if post.categories contains 'top' or post.categories contains 'headline' %}
            {% continue %}
        {% endif %}
        {% assign agrarianPostCount = agrarianPostCount | plus: 1 %}
        {% break %}
    {% endfor %}
{% endif %}

{% if agrarianPostCount > 0 %}
    {% assign agrarianPostCount = 0 %}
<div class="block sub_block block_default_fonts">
    <div class="entries">
        {% for post in site.categories['agrarian'] %}
            {% if post.categories contains 'top' or post.categories contains 'headline' %}
                {% continue %}
            {% endif %}
        <div class="entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
        </div>
            {% assign agrarianPostCount = agrarianPostCount | plus: 1 %}
            {% if agrarianPostCount == 3 %}
                {% break %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
