{% assign criminalityPostCount = 0 %}
{% for post in site.categories['criminality'] %}
    {% if post.categories contains 'top' %}
        {% assign criminalityPostCount = criminalityPostCount | plus: 1 %}
        {% if criminalityPostCount == 7 %}
        {% break %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if criminalityPostCount > 0 %}
<div class="block block_default_fonts">
    <h1>Criminality</h1>
    <div class="links criminality_links">
        {% for i in (1..criminalityPostCount) %}
        <span class="criminality_dot slideshow_dot" onclick="currentCriminalitySlide({{ i }})"></span>
        {% endfor %}
    </div>
    <div class="entries">
        {% assign criminalityPostCount = 0 %}
        {% for post in site.categories['criminality'] %}
            {% if post.categories contains 'top' %}
        <div class="entry criminality_news_entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
        </div>
                {% assign criminalityPostCount = criminalityPostCount | plus: 1 %}
                {% if criminalityPostCount == 7 %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
