{% assign peaceProcessPostCount = 0 %}
{% if site.categories['peace process'].size > 0 %}
    {% for post in site.categories['peace process'] %}
        {% if post.categories contains 'top' or post.categories contains 'headline' %}
            {% continue %}
        {% endif %}
        {% assign peaceProcessPostCount =peaceProcessPostCount | plus: 1 %}
        {% break %}
    {% endfor %}
{% endif %}

{% if peaceProcessPostCount > 0 %}
    {% assign peaceProcessPostCount = 0 %}
<div class="block block_default_fonts right">
    <h1>Peace Process</h1>
    <div class="entries">
        {% for post in site.categories['peace process'] %}
            {% if post.categories contains 'top' or post.categories contains 'headline' %}
                {% continue %}
            {% endif %}
        <div class="entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
        </div>
            {% assign peaceProcessPostCount = peaceProcessPostCount | plus: 1 %}
            {% if peaceProcessPostCount == 3 %}
                {% break %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
