{% assign agrarianPostCount = 0 %}
{% for post in site.categories['agrarian'] %}
    {% if post.categories contains 'top' %}
        {% assign agrarianPostCount = agrarianPostCount | plus: 1 %}
        {% if agrarianPostCount == 7 %}
        {% break %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if agrarianPostCount > 0 %}
<div class="block block_default_fonts">
    <h1>Agrarian</h1>
    <div class="links agrarian_links">
        {% for i in (1..agrarianPostCount) %}
        <span class="agrarian_dot slideshow_dot" onclick="currentAgrarianSlide({{ i }})"></span>
        {% endfor %}
    </div>
    <div class="entries">
        {% assign agrarianPostCount = 0 %}
        {% for post in site.categories['agrarian'] %}
            {% if post.categories contains 'top' %}
        <div class="entry agrarian_news_entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
        </div>
                {% assign agrarianPostCount = agrarianPostCount | plus: 1 %}
                {% if agrarianPostCount == 7 %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
