<div id="datetime">
    <script type="text/javascript">
        $(function() {
            setInterval(function() {
                var datefmt = 'ddd D MMM YYYY';
                var timefmt = 'hh:mm:ss A';
                var timefmt24 = 'HH:mm:ss';
                
                var datelocal = $('#date_local');
                var timelocal = $('#time_local');
                var timelocal24 = $('#time24_local');
                
                var localTime = moment(moment.utc().toDate());
                datelocal.text(localTime.format(datefmt));
                timelocal.text(localTime.format(timefmt));
                timelocal24.text(localTime.format(timefmt24));
                
                var dateutc = $('#date_utc');
                var timeutc = $('#time_utc');
                var timeutc24 = $('#time24_utc');
                
                var utcTime = moment.utc();
                dateutc.text(utcTime.format(datefmt));
                timeutc.text(utcTime.format(timefmt));
                timeutc24.text(utcTime.format(timefmt24));
                
                var dateserver = $('#date_server');
                var timeserver = $('#time_server');
                var timeserver24 = $('#time24_server');
                
                var serverTime = moment(moment.utc().toDate());
                dateserver.text(serverTime.format(datefmt));
                timeserver.text(serverTime.format(timefmt));
                timeserver24.text(serverTime.format(timefmt24));
            }, 1000);
        });
    </script>
    
    <div>
        <table>
            <tr>
                <td>
                    <p class="label">{{ 'now' | date: '%Z' }}&nbsp;&nbsp;</p>
                </td>
                <td>
                    <p class="datetime">
                        <span id="date_local"></span>
                    </p>
                </td>
                <td>
                    <p class="datetime">
                        <span id="time_local"></span>
                    </p>
                </td>
                <td>
                    <p class="datetime24">
                        <span id="time24_local"></span>
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="label">UTC&nbsp;&nbsp;</p>
                </td>
                <td>
                    <p class="datetime">
                        <span id="date_utc"></span>
                    </p>
                </td>
                <td>
                    <p class="datetime">
                        <span id="time_utc"></span>
                    </p>
                </td>
                <td>
                    <p class="datetime24">
                        <span id="time24_utc"></span>
                    </p>
                </td>
            </tr>
            
            <tr>
                <td>
                    <p class="label">SRV&nbsp;&nbsp;</p>
                </td>
                <td>
                    <p class="datetime">
                        <span id="date_server"></span>
                    </p>
                </td>
                <td>
                    <p class="datetime">
                        <span id="time_server"></span>
                    </p>
                </td>
                <td>
                    <p class="datetime24">
                        <span id="time24_server"></span>
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>