{% assign branch = site.data.gov | where: "branch", include.branch | where: "scope", "top" %}
<div class="block block_default_fonts">
    <h1>{{ include.branch_name }}</h1>
    {% comment %}
    <p>{{ branch[0].description }}</p>
    {% endcomment %}
    <div class="entries">
        {% for entry in branch %}
        <div class="entry">
            <h2><a href="{{ entry.link[0].url }}">{{ entry.name }}</a></h2>

            {% if entry.head %}
            <p class="excerpt">{{ entry.head }}</p>
            {% endif %}

            <ul>
            {% if entry.link.size and entry.link.size > 1 %}
                {% for linkitem in entry.link offset: 1%}
                <li><a href="{{ linkitem.url }}" class="no_underline">{{ linkitem.label }}</a></li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

{% assign branch = site.data.gov | where: "branch", include.branch | where: "scope", "department" %}
<div class="block block_compact_fonts">
    <div class="entries">
        {% for entry in branch %}
        <div class="entry">
            <h2><a href="{{ entry.link[0].url }}">{{ entry.name }}</a></h2>

            {% if entry.head %}
            <p class="excerpt">{{ entry.head }}</p>
            {% endif %}

            <ul>
            {% if entry.link.size and entry.link.size > 1 %}
                {% for linkitem in entry.link offset: 1%}
                <li><a href="{{ linkitem.url }}" class="no_underline">{{ linkitem.label }}</a></li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
