<head>
    {% if page.title == "Home" %}
        <title>{{ site.title }}</title>
    {% else %}
        <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}

    {% feed_meta %}

    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8">
    
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt }}">
    {% else %}
        {% if site.description %}
        <meta name="description" content="{{ site.description }}">
        {% else %}
        <meta name="description" content="{{ site.tagline }}">
        {% endif %}
    {% endif %}
    <meta name="keywords" content="news duterte">
    <meta name="robots" content="index, follow">
    {% if site.development %}
    <link rel="icon" type="image/png" href="/images/favicon/dutertetimes_local.png">
    {% else %}
    <link rel="icon" type="image/png" href="/images/favicon/{{ site.author.icon }}">
    {% endif %}
    
    <!-- Facebook tags -->
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
    <meta property="og:type" content="{% if page.website %}website{% else %}article{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}/">
    {% if page.image.source %}
    <meta property="og:image" content="{{ site.image_source }}{{ page.image.source }}">
    {% else %}
        {% if page.categories contains 'president' %}
        <meta name="og:image" content="{{ site.image_source }}/site/fb_post_02.1.president.png">
        {% elsif page.categories contains 'criminality' %}
        <meta name="og:image" content="{{ site.image_source }}/site/fb_post_02.1.crime.png">
        {% elsif page.categories contains 'agrarian' %}
        <meta name="og:image" content="{{ site.image_source }}/site/fb_post_02.1.agrarian.png">
        {% elsif page.categories contains 'environment' %}
        <meta name="og:image" content="{{ site.image_source }}/site/fb_post_02.1.evnironment.png">
        {% elsif page.categories contains 'foreign_affairs' %}
        <meta name="og:image" content="{{ site.image_source }}/site/fb_post_02.1.foreign.png">
        {% elsif page.categories contains 'business' %}
        <meta name="og:image" content="{{ site.image_source }}/site/fb_post_02.1.business.png">
        {% elsif page.categories contains 'peace_process' %}
        <meta name="og:image" content="{{ site.image_source }}/site/fb_post_02.1.peace.png">
        {% elsif page.categories contains 'opinion' %}
        <meta name="og:image" content="{{ site.image_source }}/site/fb_post_02.1.opinion.png">
        {% elsif page.categories contains 'press_briefing' %}
        <meta name="og:image" content="{{ site.image_source }}/site/fb_post_02.1.press.png">
        {% else %}
        <meta property="og:image" content="{{ site.image_source }}/site/{{ site.og_image }}">
        {% endif %}
    {% endif %}
    <!--
    <meta property="og:image" content="{% if page.thumbnail %}{{ page.thumbnail | prepend: site.image_base | prepend: site.baseurl | prepend: site.url }}{% else %}{{ site.avatar | prepend: site.baseurl | prepend: site.url }}{% endif %}">
    -->
    {% if page.fb_summary %}
    <meta property="og:description" content="{{ page.fb_summary | strip_html | strip_newlines | truncate: 200 | escape }}">
    {% else %}
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 | escape }}">
    {% endif %}
    <meta property="og:site_name" content="{{ site.title | escape }}">
    {% if page.locale %}
    <meta property="og:locale" content="{{ page.locale }}">
    {% elsif site.locale %}
    <meta property="og:locale" content="{{ site.locale }}">
    {% endif %}
    <meta property="fb:admins" content="{{ site.fb_admins }}">
    <!-- fb:app_id is intentionally excluded -->
    <!-- <meta property="fb:app_id" content="{{ site.fb_app_id }}"> -->

    {% if page.date %}
    <meta property="article:author" content="{{ site.fb_admins }}">
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
        {% for post in site.related_posts limit:3 %}
    <meta property="og:see_also" content="{{ post.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% endfor %}
    {% endif %}
    
    {% if page.categories %}
        {% for category in page.categories limit:1 %}
    <meta property="article:section" content="{{ category }}">
        {% endfor %}
    {% endif %}

    {% if page.tags %}
        {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
    {% endif %}

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dutertetimes">
    <meta name="twitter:creator" content="@dutertetimes">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.excerpt }}">
    {% if page.image.source %}
    <meta name="twitter:image:src" content="{{ site.image_source }}{{ page.image.source }}">

    {% comment %}
    Twitter Card Validator result: Unable to render Card preview
    {% elsif post.video.source %}
    <meta name="twitter:image:src" content="http://img.youtube.com/vi/{{ post.video.source }}/mqdefault.jpg">
    {% endcomment %}

    {% elsif page.categories contains 'president' %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/post/post_president.png?4362984378">
    {% elsif page.categories contains 'criminality' %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/post/post_crime.png?4362984378">
    {% elsif page.categories contains 'agrarian' %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/post/post_agrarian.png?4362984378">
    {% elsif page.categories contains 'environment' %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/post/post_env.png?4362984378">
    {% elsif page.categories contains 'foreign_affairs' %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/post/post_foreign.png?4362984378">
    {% elsif page.categories contains 'business' %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/post/post_business.png?4362984378">
    {% elsif page.categories contains 'peace_process' %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/post/post_peace.png?4362984378">
    {% elsif page.categories contains 'opinion' %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/post/post_opinion.png?4362984378">
    {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/images/twitter_summary_card_01.png?4362984378">
    {% endif %}

    <!-- Stylesheets -->
    <!------------------------------------------------------------------------>
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pygment_trac.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/code.css">
    <!-- Override the default styles with the generated CSS from Sass -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/overridestyles.css">
    
    <!-- Javascript -->
    <!------------------------------------------------------------------------>
    <!-- Originally jquery is version 1.7.1 -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script> -->
    <script src="{{ site.baseurl }}/javascripts/jquery-3.1.0.min.js"></script>
    <script src="{{ site.baseurl }}/javascripts/respond.js"></script>
    <script src="{{ site.baseurl }}/javascripts/moment.js"></script>
    <script src="{{ site.baseurl }}/javascripts/tooltip.js"></script>
    <!-- For search.json -->
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    
    <!-- Load Google fonts asynchroneously -->
    <!-- Ref: http://haisum.github.io/2014/11/03/google-fonts-asynchroneous-loading/ -->
    <!--
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Muli:400,300,700,400italic:latin', 'Muli:400:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    -->
 
    <script type="text/javascript">
        function removeNL(s){
            return s.replace(/[\n\r\t]/g, ""); //replaces NewLine or CarriageReturn or Tab with empty string.
        }
    </script>
    
    {% if site.development != true %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79666925-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
    
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/ie.css">
    <![endif]-->
</head>
