{% comment %}
Arguments:
    - title
    - todo_data - TODO items from /data directory
    - posts - collection

Example:
    {% assign posts = site.info_company | sort: "title" %}
    {% assign todo = site.data.news_peace_process %}
    {% include info_index.html title="Companies" todo_data=todo posts=posts %}
{% endcomment %}

{% include todo_list.html todo_data=include.todo_data %}

<div class="section_container_wrapper section_container_wrapper_border bottom_margin_10">
    {% if include.title %}
    <h1>{{ include.title }}</h1>
    {% endif %}
    <div class="section_container top_margin_10 bottom_margin_10">
        {% include block_list.html posts=include.posts counter="yes" %}
    </div>
</div>
