<div id="nav_top">
    <ul>

        <li class="navicon dropdown">
            <a href="#">≡</a>
            <div class="dropdown_content">
                <a href="/news/president/">President</a>
                <a href="/news/press_briefings/">Press Briefings</a>
                <a href="/news/economy/">Economy</a>
                <a href="/news/law_and_order/">Law and Order</a>
                <a href="/news/agrarian/">Agrarian</a>
                <a href="/news/environment/">Environment</a>
                <a href="/news/foreign_affairs/">Foreign Affairs</a>
                <a href="/news/other/">Other News</a>
                <hr>
                <a href="/opinion/">Opinions</a>
                <a href="/news/peace_process/">Peace Process</a>
                <hr>

                {% for item in site.data.socmed %}
                <a href="{{ item.link }}" target="{{ item.target }}" alt="{{ item.name }}"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="{{ item.message }}">
                    <i class="{{ item.fa_icon }}" aria-hidden="true"></i>&nbsp;{{ item.name }}
                </a>
                {% endfor %}

            </div>
        </li>

        <li class="title">
            <a href="/">{{ site.title }}</a>
        </li>

        {% if site.development %}
        <li class="dropdown right">
            <a href="/info/" class="dropdown_link">Info&nbsp;&nbsp;<i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></a>
            <div class="dropdown_content dropdown_content_right">
                <a href="/info/law/">Law</a>
                <a href="/info/people/">People</a>
                <a href="/info/places/">Places</a>
                <a href="/info/org/">Organization</a>
                <a href="/info/company/">Company</a>
                <a href="/info/doc">Papers and Documents</a>
                <a href="/info/sources/">Info and News Sources</a>
            </div>
        </li>
        {% endif %}
    </ul>

    {% comment %}
    <ul>
        {% include links_social_media.html %}
    </ul>
    {% endcomment %}
</div>
