<div id="nav_top">
    <ul>
        <li>
            <a href="/">{{ site.title }}</a>
        </li>

        <li class="dropdown">
            <span>News&nbsp;&nbsp;<i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></span>
            <div class="dropdown_content">
                <a href="/news/headline/">President</a>
                <a href="/news/criminality/">Criminality</a>
                <a href="/news/peace/">Peace Process</a>
                <a href="/news/agrarian/">Agrarian</a>
                <a href="/news/environment/">Environment</a>
                <a href="/news/business/">Business</a>
                <a href="/news/foreign_affairs/">Foreign Affairs</a>
                <a href="/news/other/">Other News</a>
                <hr>
                <a href="/opinion/">Opinions</a>
            </div>
        </li>

        {% if site.development %}
        <li class="dropdown">
            <a href="/info/" class="dropdown_link">Info&nbsp;&nbsp;<i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></a>
            <div class="dropdown_content">
                <a href="/info/law/">Law</a>
                <a href="/info/people/">People</a>
                <a href="/info/places/">Places</a>
                <a href="/info/org/">Organization</a>
                <a href="/info/company/">Company</a>
                <a href="/info/doc">Papers and Documents</a>
                <a href="/info/sources/">Info and News Sources</a>
            </div>
        </li>
        {% endif %}
    </ul>

    <ul>
        {% include links_social_media.html %}
    </ul>
</div>
