<section class="column_left_sidebar">
    <div id="nav_left">
        {% include common_menu.html %}
    </div>
    
    {% include announcement.html %}
    
    {% include quotes.html %}
    
    <div id="newsbits_roll">
        <h1>News Bits</h1>
        <div class="newsbits">
            {% for post in site.categories['newsbit'] limit: 10 %}
                {% assign newsbit_content = post.content | strip_newlines | remove: '<p>' | remove: '</p>'%}
                {% if post.publish and newsbit_content != "" %}
                <div class="newsbit">
                    <p class="date">{{ post.date | date: "%F %r %Z" }}</p>
                    <p>
                        {{ newsbit_content }}
                        {% if post.reference != nil %}
                             &#x25cf; {{ post.reference }}
                        {% endif %}
                    </p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
