<section class="column_right_sidebar">
    <div class="links">
        <!--
        <p>Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Nullam at commodo velit. Duis ut nisl non nibh convallis aliquam. Praesent convallis, sapien ac finibus hendrerit, odio sem pulvinar lorem, in fermentum elit leo in sem. Duis convallis eget quam at pellentesque.</p>
        <h1>Links</h1>
        <ul class="list_style_none padding_left_none">
            <li><a href="">International</a></li>
            <li><a href="">Opinion</a></li>
            <hr class="thin compact darker">
            <li><a href="">Technology</a></li>
            <hr class="thin compact darker">
            <li><a href="">Videos</a></li>
        </ul>
        -->
    </div>
    
    <!-- data-tweet-limit="3" -->
    <!-- data-aria-polite="assertive" -->
    <!--
    <div id="twitter_feed">
        <a class="twitter-timeline"
            href="https://twitter.com/du30solid"
            data-link-color="#E81C4F"
            data-chrome="noheader nofooter noborders transparent"
            data-height="400"
            data-aria-polite="assertive"
        ></a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    -->
    
    <!--
    <div class="news_roll" id="newsroll">
        <h1>Latest</h1>
        <div class="news_items">
            <div class="news_item">
            <h2>The quick and the Fox</h2>
            <p>Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Nullam at commodo velit. Duis ut nisl non nibh convallis aliquam. Praesent convallis, sapien ac finibus hendrerit, odio sem pulvinar lorem, in fermentum elit leo in sem. Duis convallis eget quam at pellentesque.</p>
            </div>
            
            <div class="news_item">
            <h2>SOCE Filing</h2>
            <p>Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Nullam at commodo velit. Duis ut nisl non nibh convallis aliquam. Praesent convallis, sapien ac finibus hendrerit, odio sem pulvinar lorem, in fermentum elit leo in sem. Duis convallis eget quam at pellentesque.</p>
            </div>
            
            <div class="news_item">
            <h2>Where is Juan de la Cruz</h2>
            <p>Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Nullam at commodo velit. Duis ut nisl non nibh convallis aliquam. Praesent convallis, sapien ac finibus hendrerit, odio sem pulvinar lorem, in fermentum elit leo in sem. Duis convallis eget quam at pellentesque.</p>
            </div>
            
            <div class="news_item">
            <h2>Presidential Seat moving South</h2>
            <p>Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Nullam at commodo velit. Duis ut nisl non nibh convallis aliquam. Praesent convallis, sapien ac finibus hendrerit, odio sem pulvinar lorem, in fermentum elit leo in sem. Duis convallis eget quam at pellentesque.</p>
            </div>
            
            <div class="news_item">
            <h2>Philippine Steel Mills</h2>
            <p>Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing elit</a>. Nullam at commodo velit. Duis ut nisl non nibh convallis aliquam. Praesent convallis, sapien ac finibus hendrerit, odio sem pulvinar lorem, in fermentum elit leo in sem. Duis convallis eget quam at pellentesque.</p>
            </div>
        </div>
    </div>
    -->
</section>
