<!-- Add vertical space before the 'hr' so it does not look cramped -->
<!-- <p class="padding_bottom_5" /> -->
<hr class="thin">

<div id="post_bottom">

    <div id="post_tags">
        <ul>
        {% if page.tags.size == 0 %}
            <li>no tags</li>
        {% else %}
            {% for tag in page.tags %}
                <li><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{ tag }}</li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>

    {% include post_operations.html %}

</div>
