{% comment %}
Argument(s):
    - post
{% endcomment %}

<div class="block block_margin_bottom block_default_fonts">
    <div class="entries">
        <div class="entry entry_highlight">

            {% if site.development %}
                {% if include.post.image.source %}
            <img src="/images/offline/thumbnail_image.png"  class="image_thumbnail_latest img_style_rounded"/>
                {% else %}
                    {% if include.post.video.source %}
            <img src="/images/offline/thumbnail_video.png" class="video_thumbnail_latest img_style_rounded"/>
                    {% else %}
            <img src="/images/offline/thumbnail_twitter_card.png"  class="image_thumbnail_latest img_style_rounded"/>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if include.post.image.source %}
            <img src="{{ site.image_source }}{{ include.post.image.source }}"  class="image_thumbnail_latest img_style_rounded"/>
                {% else %}
                    {% if include.post.video.source %}
            <img src="http://img.youtube.com/vi/{{ include.post.video.source }}/mqdefault.jpg" class="video_thumbnail_latest img_style_rounded"/>
                    {% else %}
            <img src="{{ site.image_source }}/site/{{ include.post_image }}" class="image_thumbnail_latest img_style_rounded"/>
                    {% endif %}
                {% endif %}
            {% endif %}

            <h2><a href="{{ include.post.url }}.html">{{ include.post.title }}</a></h2>

            {% comment %}
            <p class="date">{{ include.post.date | date: site.data.format.date_only }}</p>
            {% endcomment %}

            <p class="excerpt">
                {{ include.post.excerpt }}{% if include.post.video.source != nil %} <i class="fa fa-video-camera" aria-hidden="true"></i>{% endif %}
            </p>
        </div>
    </div>
</div>
