{% comment %}
Arguments:
    - category - every word is capitalized because it is also used in javascript
    - posts
    - post_image

Example:
    {% assign section_posts = site.categories['criminality'] %}
    {% include section_slideshow.html category="Criminality" post_count=section_posts.size posts=section_posts %}
{% assign posts = "" | split: "" %}
{% endcomment %}

{% assign post_count = include.posts.size %}
{% if post_count > 7 %}
    {% assign post_count = 7 %}
{% endif %}

<div class="block block_default_fonts">
    <h1>{{ include.category }}</h1>
    <div class="links headline_links">
        {% for i in (1..post_count) %}
        <span class="{{ include.category | replace: ' ', '_' | downcase }}_dot slideshow_dot" onclick="current{{ include.category | remove: ' ' }}Slide({{ i | minus: 1 }})"></span>
        {% endfor %}
    </div>
    <div class="entries">

        {% for post in include.posts limit:7 %}

        <div class="entry {{ include.category | replace: ' ', '_' | downcase }}_news_entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>

            {% if site.development %}
                {% if post.image.source %}
            <img src="/images/offline/thumbnail_image.png"  class="image_thumbnail image_thumbnail_right img_style_rounded"/>
                {% else %}
                    {% if post.video.source %}
            <img src="/images/offline/thumbnail_video.png" class="video_thumbnail video_thumbnail_right img_style_rounded"/>
                    {% else %}
            <img src="/images/offline/thumbnail_twitter_card.png"  class="image_thumbnail image_thumbnail_right img_style_rounded"/>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if post.image.source %}
            <img src="{{ site.image_source }}{{ post.image.source }}"  class="image_thumbnail image_thumbnail_right img_style_rounded"/>
                {% else %}
                    {% if post.video.source %}
            <img src="http://img.youtube.com/vi/{{ post.video.source }}/mqdefault.jpg" class="video_thumbnail video_thumbnail_right img_style_rounded"/>
                    {% else %}
            <img src="{{ site.image_source }}/site/{{ include.post_image }}" class="image_thumbnail image_thumbnail_right img_style_rounded"/>
                    {% endif %}
                {% endif %}
            {% endif %}

            <p class="excerpt">
                {{ post.excerpt }}{% if post.video.source %} <i class="fa fa-video-camera" aria-hidden="true"></i>{% endif %}
            </p>
        </div>

        {% else %}
        <p class="no_entries">There are no posts for this section.</p>
        {% endfor %}
    </div>
</div>
