{% comment %}
Arguments:
    - todo_data - TODO items from /data directory
    - category

Example:
    {% assign todo = site.data.news_peace_process %}
    {% include section_index.html title="Peace Process" todo_data=todo category="peace_process" %}
{% endcomment %}

{% if site.development %}
<div class="section_container_wrapper section_container_wrapper_border">
    <h1>TODO</h1>
<div class="section_container container_top_margin container_bottom_margin_5">
<div class="block block_default_fonts">
    <div class="entries">
    {% for post in include.todo_data %}
        <div class="entry">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">{{ post.excerpt }}</p>
            <p class="category">Categories:&nbsp;{{ post.categories | join: ", "}}</p>
            <p class="tag">Tags:&nbsp;{{ post.tags | join: ", " }}</p>
        {% if post.link.size and post.link.size == 1 %}
            <p>Link:&nbsp;<a href="{{ post.link[0].url }}" class="no_underline">{{ post.link[0].url }}</a></p>
        {% else %}
            <p>Links:</p>
            <ul>
            {% for linkitem in post.link %}
                {% if linkitem.excerpt %}
                <li><a href="{{ linkitem.url }}" class="no_underline">{{ linkitem.excerpt }}</a></li>
                {% else %}
                <li><a href="{{ linkitem.url }}" class="no_underline">{{ linkitem.url }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    {% else %}
        <p class="no_entries">There are no pending news to add.</p>
    {% endfor %}
    </div>
</div>
</div>
</div>
{% endif %}

<div class="section_container_wrapper section_container_wrapper_border">
    <h1>{{ page.title }}</h1>
<div class="section_container container_top_margin container_bottom_margin_5">
<div class="block block_default_fonts">
    <div class="entries">
    {% for post in site.categories[include.category] limit:20 %}
        <div class="entry">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">{{ post.excerpt }}{% if post.video.source != nil %} <i class="fa fa-video-camera" aria-hidden="true"></i>{% endif %}</p>

            {% if site.development %}
            <p class="category">Categories:&nbsp;{{ post.categories | join: ", "}}</p>
            <p class="tag">Tags:&nbsp;{{ post.tags | join: ", " }}</p>
            {% endif %}
        </div>
    {% else %}
        <p class="no_entries">There are no articles.</p>
    {% endfor %}
    </div>
</div>
</div>
</div>
