{% assign postCount = 0 %}
{% for post in site.categories[include.category] %}
    {% if post.categories contains 'top' or post.categories contains 'headline' %}
        {% continue %}
    {% endif %}
    {% assign postCount = postCount | plus: 1 %}
    {% break %}
{% endfor %}

{% if postCount > 0 %}
    {% assign postCount = 0 %}
<div class="block sub_block block_default_fonts">
    <div class="entries">
        {% for post in site.categories[include.category] %}
            {% if post.categories contains 'top' or post.categories contains 'headline' %}
                {% continue %}
            {% endif %}
        <div class="entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            <p class="excerpt">
                {{ post.excerpt }}{% if post.video.source != nil %} <i class="fa fa-video-camera" aria-hidden="true"></i>{% endif %}
            </p>
        </div>
            {% assign postCount = postCount | plus: 1 %}
            {% if postCount == include.max_count %}
                {% break %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endif %}
