{% comment %}
Arguments:
    - title
    - posts

Example:
    {% assign section_posts = site.categories['opinion'] %}
    {% include section_list.html title="opinion" posts=section_posts %}
{% endcomment %}

<div class="block block_default_fonts">
    {% if include.title %}
    <h1>{{ include.title }}</h1>
    {% endif %}
    <div class="entries">
        {% for post in include.posts %}
        <div class="entry {{ include.category }}_news_entry">
            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            {% comment %}
            <p class="excerpt">
                {{ post.excerpt }}{% if post.video.source %} <i class="fa fa-video-camera" aria-hidden="true"></i>{% endif %}
            </p>
            {% endcomment %}
        </div>
        {% else %}
        <p class="no_entries">There are no posts for this section.</p>
        {% endfor %}
    </div>
</div>
