{% comment %}
Arguments:
    - title - section title
    - category - used in javascript; every word is capitalized
    - posts
    - post_image

Example:
    {% assign section_posts = site.categories['criminality'] %}
    {% include section_slideshow.html category="Criminality" post_count=section_posts.size posts=section_posts %}
{% assign posts = "" | split: "" %}
{% endcomment %}

{% assign max_post_count = 6 %}
{% assign post_count = include.posts.size %}
{% if post_count > max_post_count %}
    {% assign post_count = max_post_count %}
{% endif %}

{% assign this_category = include.category | replace: ' ', '_' | downcase %}

<div class="block block_default_fonts">
    <h1>{{ include.title }}</h1>
    <div class="links">
        {% assign post_count = 0 %}
        {% for post in include.posts %}
            {% if post.categories[1] != this_category %}
                {% continue %}
            {% endif %}
            
            {% assign post_count = post_count | plus: 1 %}
            {% if post_count > max_post_count %}
                {% break %}
            {% endif %}
        <span class="{{ this_category }}_dot slideshow_dot" onclick="current{{ include.category | remove: ' ' }}Slide( {{ post_count | minus: 1 }} )"></span>
        {% endfor %}
    </div>
    <div class="entries">

        {% assign post_count = 0 %}
        {% for post in include.posts %}
        
            {% if post.categories[1] != this_category %}
                {% continue %}
            {% endif %}
            
            {% assign post_count = post_count | plus: 1 %}
            {% if post_count > max_post_count %}
                {% break %}
            {% endif %}
        
        <div class="entry {{ this_category }}_news_entry">
            {% if site.debug %}
                {% if post.image.source %}
            <img src="/images/offline/thumbnail_image.png"  class="image_thumbnail image_thumbnail_right_mobile img_style_rounded"/>
                {% else %}
                    {% if post.video.source %}
            <img src="/images/offline/thumbnail_video.png" class="video_thumbnail video_thumbnail_right_mobile img_style_rounded"/>
                    {% else %}
            <img src="/images/offline/thumbnail_twitter_card.png"  class="image_thumbnail image_thumbnail_right_mobile img_style_rounded"/>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if post.image.source %}
            <img src="{{ site.image_source }}{{ post.image.source }}"  class="image_thumbnail image_thumbnail_right_mobile img_style_rounded"/>
                {% else %}
                    {% if post.video.source %}
                        {% if post.video.thumbnail %}
            <img src="http://img.youtube.com/vi/{{ post.video.source }}/{{ post.video.thumbnail }}.jpg" class="video_thumbnail video_thumbnail_right_mobile img_style_rounded"/>
                        {% else %}
            <img src="http://img.youtube.com/vi/{{ post.video.source }}/mqdefault.jpg" class="video_thumbnail video_thumbnail_right_mobile img_style_rounded"/>
                        {% endif %}
                    {% else %}
            <img src="{{ site.image_source }}/site/{{ include.post_image }}" class="image_thumbnail image_thumbnail_right_mobile img_style_rounded"/>
                    {% endif %}
                {% endif %}
            {% endif %}

            <h2><a href="{{ post.url }}.html">{{ post.title }}</a></h2>
            <p class="date">{{ post.date | date: site.data.format.date_only }}</p>
            {% if site.development %}
            <p class="category">Categories:&nbsp;{{ post.categories | join: ", " }}</p>
            {% endif %}
            <p class="excerpt">
                {{ post.excerpt }}{% if post.video.source %} <i class="fa fa-video-camera" aria-hidden="true"></i>{% endif %}
            </p>
        </div>
        {% endfor %}
        
        {% if post_count == 0 %}
            <p class="no_entries">There are no posts for this section.</p>
        {% endif %}
    </div>
</div>
