<div id="social_media_links">
    <!--
    <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="socmed_button">Twitter</a>&nbsp;
    <a href="{{ site.author.youtube }}" target="_blank" class="socmed_button">Youtube</a>&nbsp;
    <a href="mailto:{{ site.author.email }}"   target="_blank" class="socmed_button">Email Us</a>
    -->
    <ul>
    {% for item in site.data.socmed %}
        <li>
            <a href="{{ item.link }}" target="{{ item.target }}" alt="{{ item.name }}" class="tooltip">
                <span class="tooltiptext">{{ item.name }}</span>
                <i class="{{ item.fa_icon }}" aria-hidden="true"></i>&nbsp;
                {{ item.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
