<div id="social_media_links">
    <!--
    <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" class="socmed_button">Twitter</a>&nbsp;
    <a href="{{ site.author.youtube }}" target="_blank" class="socmed_button">Youtube</a>&nbsp;
    <a href="mailto:{{ site.author.email }}"   target="_blank" class="socmed_button">Email Us</a>
    -->
    <ul>
    {% for item in site.author.social_media %}
        <li>
            <a href="{{ item.link }}" target="{{ item.target }}">{{ item.name }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
