
#announcements_block {
    @media print {
        display: none;
    }
    @include max-screen(720px) {
        margin-top: 20px;
    }
    min-height: 150px;
    @include max-screen(720px) {
        min-height: 200px;
    }
}
