// A block is a collection of one or multiple items.
// Each item is a title, date and excerpt.
div.block {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom: 15px;
    float: left;

    & > h1 {
        font-family: $font_sub_label;
        font-size: $font_size_sub_label;
        @include max-screen(720px) {
            font-size: $font_size_sub_label + 1;
        }
        font-weight: $font_weight_sub_label;
        color: $color_sidebar_label;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        margin: 0;
        padding-top: 0px;
        float: left;
        display: inline;
    }

    div.links {
        margin: 0 0 0 10px;
        padding: 0;
        float: right;
        display: inline;
    }

    div.entries {
        margin: 0;
        float: left;
        display: inline-block;
        width: 100%;

        p.no_entries {
            margin-bottom: 0;
            font-style: italic;
        }

        & > ul,
        & > ol {
            display: block;
            cursor: hand;
            margin-top: 5px;
            // No indent
            padding-left: 20px;
            &.list_style_none {
                padding-left: 0;
                & > li {
                    padding-left: 0;

                }
            }

            & > li.border_left {
                border-left: 5px solid $color_hr_default;
                padding-left: 5px;
                margin-top: 5px;
                margin-bottom: 4px;
                &:hover {
                    border-left: 5px solid $color_link;
                }
            }

            & > li.border_top_and_bottom {
                border-top: 1px dotted $color_hr_default;
                &:last-of-type {
                    border-bottom: 1px dotted $color_hr_default;
                }
                padding-top: 5px;
                padding-bottom: 4px;
            }
        }

        & > ul > li.entry,
        & > ol > li.entry,
        & > div.entry,
        & > div.index_entry {
            width: 100%;
            float: left;

            & > img {
                border-radius: 3px;
                height: auto;
                @include max-screen(480px) {
                    float: right;
                    margin-bottom: 3px;
                    margin-left: 10px;
                    width: 35%;
                }
                @include min-screen(480px + 1px) {
                    float: left;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    width: 100%;
                }
            }
            
            p {
                margin: 0 !important;
                padding: 0 !important;
            }

            ul, ol {
                margin-top: 2px;
                padding-left: 25px;
                li {
                    @include set_margin_v;
                    padding-left: 0;
                }
            }

            a.no_underline {
                border-bottom: none;
                &:hover {
                    border-bottom: 1px dotted $color_link_underline;
                }
            }
        }

        & > div.entry {
            margin-top: 10px;
            margin-top: 5px;
        }

        & > div.index_entry {
            @include compact;
        }
    }
}

div.block_margin_top {
    margin-top: 10px;
}

div.block_margin_bottom {
    margin-bottom: 0px;
}

img.block_margin_right {
    margin-right: 10px;
}



div.block_default_fonts {
    div.entries {
        & > ul > li.entry,
        & > ol > li.entry,
        & > div.entry,
        & > div.index_entry {
            h2, h2 > a {
                @include block_entry_heading($font_hub_default_title, $font_size_hub_default_title, $color_hub_entry_title);
                @include max-screen(720px) {
                    font-size: $font_size_hub_default_title - 1;
                }
                line-height: $font_line_height_hub_default_title;
                @include max-screen(320px) {
                    line-height: $font_line_height_hub_default_title + 4;
                }
                font-weight: $font_weight_hub_default_title;
                padding-bottom: 2px;
            }
            h2 > a {
                border-bottom: none;
                &:hover {
                    color: $color_link;
                }
            }
            h2.indexed {
                & > span {
                    // Using inline-block gives span a width
                    // Using table-cell shifts the items down 1 pixel when a:hover
                    // displays the bottom border line.
                    display: inline-block;
                    // Aligned up to six digits
                    min-width: 50px;
                }
            }

            & p,
            & li,
            & p a,
            & li a {
                @include set_font($font_hub_default_text, $font_size_hub_default_text, $color_hub_entry_text);
                line-height: $font_line_height_hub_default_text;
                @include max-screen(720px) {
                    font-size: $font_size_hub_default_text + 0;
                    line-height: $font_line_height_hub_default_text + 4;
                }
            }
            & p.date,
            & h2 span.date {
                @include set_font($font_hub_default_date, $font_size_hub_default_date, $color_hub_entry_date);
                line-height: $font_line_height_hub_default_date;
                @include max-screen(720px) {
                    font-size: $font_size_hub_default_date + 0;
                    line-height: $font_line_height_hub_default_text + 2;
                }
            }
            & p.excerpt {
                @include set_font($font_hub_default_excerpt, $font_size_hub_default_excerpt, $color_hub_entry_excerpt);
                line-height: $font_line_height_hub_default_excerpt;
                @include max-screen(720px) {
                    font-size: $font_size_hub_default_excerpt + 0;
                    line-height: $font_line_height_hub_default_excerpt + 2;
                }
                & i.fa {
                    color: lighten($color_hub_entry_excerpt, 40%);
                }
            }
        }

        & > div.index_entry {
            h2, h2 > a {
                font-weight: normal;
            }
            h2 > i.fa {
                font-size: $font_size_hub_default_excerpt;
                color: lighten($color_hub_entry_excerpt, 40%);
            }
            h2 > a:hover {
                border-bottom: 1px dotted $color_link;
            }
        }
    }
}



div.block_compact_fonts {
    div.entries {
        & > ul > li.entry,
        & > ol > li.entry,
        & > div.entry,
        & > div.index_entry {
            h2, h2 > a {
                text-transform: uppercase;
                letter-spacing: 0.25px;
                word-spacing: 0.175em;
                padding-bottom: 2px;
            }
            h2, h2 > a {
                @include block_entry_heading($font_hub_compact_title, $font_size_hub_compact_title, $color_hub_entry_title);
                line-height: $font_line_height_hub_compact_title + 2;
                @include max-screen(720px) {
                    font-size: $font_size_hub_compact_title + 2;
                    line-height: $font_line_height_hub_compact_title + 3;
                }
            }
            h2 {
                @include max-screen(720px) {
                    padding-bottom: 2px;
                }
            }
            h2 > a {
                border-bottom: none;
                &:hover {
                    color: $color_link;
                }
            }

            p, li, p > a, li > a {
                @include set_font($font_hub_compact_text, $font_size_hub_compact_text, $color_hub_entry_text);
                line-height: $font_line_height_hub_compact_text;
                @include max-screen(720px) {
                    font-size: $font_size_hub_compact_text + 1;
                    line-height: $font_line_height_hub_compact_text + 4;
                }
            }
            p.date {
                @include set_font($font_hub_compact_date, $font_size_hub_compact_date, $color_hub_entry_date);
                @include max-screen(720px) {
                    line-height: $font_line_height_hub_compact_date + 2;
                }
            }
        }
    }
}
