// A block is a collection of one or multiple items.
// Each item is a title, date and excerpt.
div.block {
    @include block;
    padding-bottom: 0;

    h1 {
        font-family: $font_label;
        font-size: $font_size_label;
        @include max-screen(720px) {
            font-size: $font_size_label + 1;
        }
        font-weight: bold;
        color: $color_sidebar_label;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        margin: 0;
        padding-top: 1px;
        float: left;
        display: inline;
    }

    div.links {
        margin: 0 0 0 10px;
        padding: 0;
        float: left;
        display: inline;
    }

    div.entries {
        @include block_internal;
        margin-bottom: 10px;

        p.no_entries {
            margin-bottom: 0;
            font-style: italic;
        }

        div.entry {
            width: 100%;
            float: left;

            margin-top: 10px;
            div.entries + & {
                margin-top: 0;
            }

            div.image {
                @include image_frame;
                p.attribution {
                    @include attribution;
                }
            }

            p {
                @include compact;
            }

            ul {
                margin-top: 2px;
                padding-left: 25px;
                li {
                    @include set_margin_v;
                    padding-left: 0;
                }
            }

            a.no_underline {
                border-bottom: none;
                &:hover {
                    border-bottom: 1px dotted $color_link_underline;
                }
            }
        }
    }
}



div.block_default_fonts {
    div.entries {
        div.entry {
            h2, h2 > a {
                @include block_entry_heading($font_news_title, $font_size_news_title, $color_news_title);
                line-height: $font_line_height_news_title;
                @include max-screen(720px) {
                    font-size: $font_size_news_title - 1;
                }
            }
            h2 > a {
                border-bottom: none;
                &:hover {
                    color: $color_link;
                }
            }

            p, li, p > a, li > a {
                @include set_font($font_news_text, $font_size_news_text, $color_news_text);
                @include max-screen(720px) {
                    font-size: $font_size_news_text + 1;
                }
                line-height: $font_line_height_news_text;
                @include max-screen(720px) {
                    line-height: $font_line_height_news_text + 4;
                }
            }
            p.date {
                @include set_font($font_news_date, $font_size_news_date, $color_news_date);
                @include max-screen(720px) {
                    font-size: $font_size_news_date + 1;
                }
                line-height: $font_line_height_news_date;
                @include max-screen(720px) {
                    line-height: $font_line_height_news_text + 2;
                }
            }
            p.excerpt {
                @include set_font($font_news_excerpt, $font_size_news_excerpt, $color_news_excerpt);
                @include max-screen(720px) {
                    font-size: $font_size_news_excerpt + 1;
                }
                line-height: $font_line_height_news_excerpt;
                @include max-screen(720px) {
                    line-height: $font_line_height_news_text + 2;
                }
                & i.fa {
                    color: lighten($color_news_excerpt, 40%);
                }
            }
        }
    }
}



div.block_compact_fonts {
    div.entries {
        div.entry {
            h2, h2 > a {
                text-transform: uppercase;
                letter-spacing: 0.2px;
                word-spacing: 0.175em;
            }
            h2, h2 > a {
                @include block_entry_heading($font_compact_title, $font_size_compact_title, $color_compact_title);
                line-height: $font_line_height_compact_title;
                @include max-screen(720px) {
                    line-height: $font_line_height_compact_title + 1;
                }
            }
            h2 {
                @include max-screen(720px) {
                    padding-bottom: 2px;
                }
            }
            h2 > a {
                border-bottom: none;
                &:hover {
                    color: $color_link;
                }
            }

            p, li, p > a, li > a {
                @include set_font($font_compact_text, $font_size_compact_text, $color_compact_text);
                @include max-screen(720px) {
                    font-size: $font_size_compact_text + 1;
                }
                line-height: $font_line_height_compact_text;
                @include max-screen(720px) {
                    line-height: $font_line_height_compact_text + 4;
                }
            }
            p.date {
                @include set_font($font_compact_date, $font_size_compact_date, $color_compact_date);
                @include max-screen(720px) {
                    line-height: $font_line_height_compact_date + 2;
                }
            }
        }
    }
}
