// A block is a collection of one or multiple items.
// Each item is a title, date and excerpt.
div.block {
    padding-top: 0px;
    padding-bottom: 0;
    margin-bottom: 15px;
    float: left;

    h1 {
        font-family: $font_label;
        font-size: $font_size_label;
        @include max-screen(720px) {
            font-size: $font_size_label + 1;
        }
        font-weight: bold;
        color: $color_sidebar_label;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        margin: 0;
        padding-top: 1px;
        float: left;
        display: inline;
    }

    div.links {
        margin: 0 0 0 10px;
        padding: 0;
        float: right;
        display: inline;
    }

    div.entries {
        @include block_internal;

        p.no_entries {
            margin-bottom: 0;
            font-style: italic;
        }

        div.entry {
            width: 100%;
            float: left;

            margin-top: 10px;
            div.entries + & {
                margin-top: 0;
            }

            img {
                float: right;
                border-radius: 3px;
            }

            img.image_thumbnail,
            img.video_thumbnail {
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }
            
            img.image_thumbnail_left,
            img.video_thumbnail_left,
            img.image_thumbnail_right,
            img.video_thumbnail_right {
                width: 40%;
                height: 40%;
            }

            img.image_thumbnail_left,
            img.video_thumbnail_left {
                margin-top: 3px;
                margin-right: 10px;
            }

            img.image_thumbnail_right,
            img.video_thumbnail_right {
                margin-bottom: 3px;
                margin-left: 10px;
            }
            
            img.image_thumbnail_right_mobile,
            img.video_thumbnail_right_mobile {
                @include max-screen(720px) {
                    width: 40%;
                    height: 40%;
                    margin-bottom: 3px;
                    margin-left: 10px;
                }
            }

            p {
                @include compact;
            }

            ul {
                margin-top: 2px;
                padding-left: 25px;
                li {
                    @include set_margin_v;
                    padding-left: 0;
                }
            }

            a.no_underline {
                border-bottom: none;
                &:hover {
                    border-bottom: 1px dotted $color_link_underline;
                }
            }
        }
        
        /*
        div.entry_highlight {

            img.thumbnail {
                width: 70px;
                height: 70px;
                @include max-screen(720px) {
                    width: 70px;
                }
                float: left;
                margin-top: 3px;
                margin-right: 10px;
                border-radius: 3px;
            }

            img.video_thumbnail {
                height: 60px;
                @include max-screen(720px) {
                    height: 60px;
                }
                float: left;
                margin-top: 3px;
                margin-right: 10px;
                border-radius: 3px;
            }
        }
        */
        
        div.index_entry {
            width: 100%;
            float: left;
            @include compact;
        }
    }
}

div.block_margin_top {
    margin-top: 10px;
}

div.block_margin_bottom {
    margin-bottom: 0px;
}

img.block_margin_right {
    margin-right: 10px;
}



div.block_default_fonts {
    div.entries {
        div.entry {
            h2, h2 > a {
                @include block_entry_heading($font_hub_default_title, $font_size_hub_default_title, $color_hub_entry_title);
                line-height: $font_line_height_hub_default_title + 2;
                @include max-screen(720px) {
                    font-size: $font_size_hub_default_title + 1;
                    line-height: $font_line_height_hub_default_title + 2;
                }
                padding-bottom: 2px;
            }
            h2 > a {
                border-bottom: none;
                &:hover {
                    color: $color_link;
                }
            }

            & > p,
            & > li,
            & > p > a,
            & > li > a {
                @include set_font($font_hub_default_text, $font_size_hub_default_text, $color_hub_entry_text);
                @include max-screen(720px) {
                    font-size: $font_size_hub_default_text + 1;
                }
                line-height: $font_line_height_hub_default_text;
                @include max-screen(720px) {
                    line-height: $font_line_height_hub_default_text + 4;
                }
            }
            & > p.date,
            & > h2 > span.date {
                @include set_font($font_hub_default_date, $font_size_hub_default_date, $color_hub_entry_date);
                @include max-screen(720px) {
                    font-size: $font_size_hub_default_date + 1;
                }
                line-height: $font_line_height_hub_default_date;
                @include max-screen(720px) {
                    line-height: $font_line_height_hub_default_text + 2;
                }
            }
            & > p.excerpt {
                @include set_font($font_hub_default_excerpt, $font_size_hub_default_excerpt, $color_hub_entry_excerpt);
                @include max-screen(720px) {
                    font-size: $font_size_hub_default_excerpt + 1;
                }
                line-height: $font_line_height_hub_default_excerpt;
                @include max-screen(720px) {
                    line-height: $font_line_height_hub_default_excerpt + 2;
                }
                & i.fa {
                    color: lighten($color_hub_entry_excerpt, 40%);
                }
            }
        }
        
        div.index_entry {
            h2, h2 > a {
                font-weight: normal;
            }
            h2 > a:hover {
                border-bottom: 1px dotted $color_link;
            }
        }
    }
}



div.block_compact_fonts {
    div.entries {
        div.entry {
            h2, h2 > a {
                text-transform: uppercase;
                letter-spacing: 0.2px;
                word-spacing: 0.175em;
                padding-bottom: 2px;
            }
            h2, h2 > a {
                @include block_entry_heading($font_hub_compact_title, $font_size_hub_compact_title, $color_hub_entry_title);
                line-height: $font_line_height_hub_compact_title + 2;
                @include max-screen(720px) {
                    font-size: $font_size_hub_compact_title + 2;
                    line-height: $font_line_height_hub_compact_title + 3;
                }
            }
            h2 {
                @include max-screen(720px) {
                    padding-bottom: 2px;
                }
            }
            h2 > a {
                border-bottom: none;
                &:hover {
                    color: $color_link;
                }
            }

            p, li, p > a, li > a {
                @include set_font($font_hub_compact_text, $font_size_hub_compact_text, $color_hub_entry_text);
                @include max-screen(720px) {
                    font-size: $font_size_hub_compact_text + 1;
                }
                line-height: $font_line_height_hub_compact_text;
                @include max-screen(720px) {
                    line-height: $font_line_height_hub_compact_text + 4;
                }
            }
            p.date {
                @include set_font($font_hub_compact_date, $font_size_hub_compact_date, $color_hub_entry_date);
                @include max-screen(720px) {
                    line-height: $font_line_height_hub_compact_date + 2;
                }
            }
        }
    }
}
