$color_red:                     #CE1126;
$color_blue:                    #0038A8;
$color_yellow:                  #FCD116;

$color_primary:                 $color_red;
$color_secondary:               $color_primary - 30;

// Background is the color of the footer background.
// This avoids the footer from showing a different
// color if the content of the page is shorter.
$color_bg:                      #dedddd;
$color_main_bg:                 #ffffff;

// Text
$color_text:                    black;

// Link
$color_link:			        $color_primary;
$color_link_underline:	        $color_primary;

// Heading
$color_heading_text:            black;

// Header
$color_header_title:            $color_text;
$color_header_title_tag:        $color_text;
$color_header_bg:               darken($color_main_bg, 0%);
$color_header_border_top:       $color_primary;
$color_header_border_bottom:    $color_main_bg;

// Code
$color_code:                    #a3a3a3;
$color_code_highlight:          #eeeeee;
$color_code_bg:                 #202020;
$color_syntax_bg:               #2a2a2a;

// Table
$color_table_border:            #404040;
$color_table_th_bg:             #efefef;

// Horizontal line
$color_hr_default:              #e7e7e7;
$color_hr_dark:                 #404040;
$color_hr_darker:               $color_bg;

// Blockquote
$color_blockquote:              lighten($color_text, 30%);
$color_blockquote_bar:          darken($color_main_bg, 7%);
$color_blockquote_bg:           darken($color_main_bg, 2%);



// Specifics
// -----------------------------------------------------------------------------

// Navigation
$color_nav:                     $color_text;
$color_nav_bg:                  $color_header_bg;

// Announcement
$color_announcement_title:      lighten($color_text, 30%);
$color_announcement_date:       lighten($color_text, 30%);
$color_announcement_text:       $color_text;

// News Hub
$color_news_hub_title:          lighten($color_text, 15%);
$color_news_hub_date:           $color_red - 50;
$color_news_hub_excerpt:        $color_text;

// News Article
$color_news_title:              $color_heading_text;
$color_news_date:               $color_red - 50;
$color_news_excerpt:            $color_text;
$color_news_text:               $color_text;

// News bit
$color_news_bit_date:         lighten($color_text, 30%);

// Sidebar
$color_sidebar_label:           $color_text;
$color_sidebar_text:            $color_text;
$color_sidebar_bg:              $color_main_bg;

// Aside
$color_aside_text:              $color_text;
$color_aside_bg:                $color_header_bg;
$color_aside_border:            $color_red - 100;

// Post tag
$color_tag_text:                lighten($color_text, 30%);
$color_tag_bg:                  #ededed;

// Quote
$color_quote_text:              $color_text;
$color_quote_author:            $color_text;

// Footer
$color_footer_text:             black;
$color_footer_link:             $color_link;
$color_footer_bg:               $color_bg;
$color_footer_border_top:       $color_primary;

// Button links
$color_button_text:             $color_main_bg;
$color_button_bg:               $color_primary;
$color_button_hover_text:       $color_button_bg;
$color_button_hover_bg:         $color_header_border_bottom;
