
#datetime_block {
    @media print {
        display: none;
    }
    @include max-screen(720px) {
        display: none;
    }
    @include sidebar_component;
    // Override top padding since this component is at the top
    padding-top: 0px;
    //margin-bottom: 0px;

    div.datetime {
        @include sidebar_component_internal;
        table {
            border: none;
            border-collapse:collapse;
            width: 100%;
            tr, th, td {
                @include compact;
                border: none;
            }
            td {
                white-space: nowrap;
            }
        }

        p {
            @include compact;
            font-family: $font_datetime;
            font-size: $font_size_datetime;
            &.label {
                text-align: left;
            }
            &.datetime {
                text-align: center;
            }
            &.datetime24 {
                text-align: center;
            }
        }
    }
}
