
#datetime_block {
    @media print {
        display: none;
    }

    div.entries {
        width: 100%;

        div.entry {

            p.date,
            p.time {
                margin: 0 0 5px 0;
                padding: 0;
                color: $color_hub_entry_text;
                letter-spacing: 0.25px;
            }
            div.utc {
            }
            p.date {
                font-family: $font_datetime_date;
                font-size: $font_size_datetime_date;
                line-height: $font_size_datetime_date + 2;
                @include max-screen(720px) {
                    font-size: $font_size_datetime_date + 1;
                }
            }
            p.time {
                font-family: $font_datetime_time;
                font-size: $font_size_datetime_time;
                line-height: $font_size_datetime_time + 2;
                @include max-screen(720px) {
                    font-size: $font_size_datetime_time + 1;
                }
            }

        }
    }
}
