// Miriam Libre
// Letters are narrower than Droid Sans.
// In smaller fonts, it is a bit readable than Droid Sans.
// @import url("https://fonts.googleapis.com/css?family=Miriam+Libre");

// Droid Serif
// Droid Serif is narrower than Liberation Serif.
// In smaller fonts, it appears readable than Liberation Serif.
//@import url("https://fonts.googleapis.com/css?family=Droid+Serif");

//@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
//@import url("https://fonts.googleapis.com/css?family=Liberation+Serif:normal,italic,normalitalic,bolditalic");
//@import url("https://fonts.googleapis.com/css?family=Droid+Serif:normal,italic,normalitalic,bolditalic");

@font-face {
    font-family:    'Noto Serif';
    src:            local('Noto Serif'),
                    local('NotoSerif-Regular'),
                    url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700);
}

@font-face {
    font-family:    'Roboto';
    src:            local('Roboto'),
                    local('Roboto-Regular'),
                    url(https://fonts.googleapis.com/css?family=Roboto:400,700);
}

@font-face {
    font-family:    'Roboto Condensed';
    src:            local('Roboto Condensed'),
                    local('RobotoCondensed-Regular'),
                    url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
}

@font-face {
    font-family:    'Roboto Condensed Light';
    src:            local('Roboto Condensed Light'),
                    local('RobotoCondensed-Light'),
                    url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700);
}

/*
@font-face {
    font-family:    'Oswald';
    src:            local('Oswald Regular'),
                    local('Oswald-Regular'),
                    url(https://fonts.googleapis.com/css?family=Oswald:400,700) format('woff2');
}

@font-face {
    font-family:    'Oswald Light';
    src:            local('Oswald Light'),
                    local('Oswald-Light'),
                    url(https://fonts.googleapis.com/css?family=Oswald:300) format('woff2');
}
*/



$font_serif:                            "Liberation Serif", Palatino, "Palatino Linotype", "Times New Roman", Georgia, Times, serif;
$font_serif_thin:                       "Noto Serif", "Droid Serif", "Slabo 27px", Palatino, "Palatino Linotype", "Times New Roman", Georgia, Times, serif;

$font_sans:                             "Roboto", "Source Sans", "Lucida Sans", Helmet, Freesans, Helvetica, Arial, sans-serif;
$font_sans_thin:                        "Roboto Condensed", "Source Sans Pro", "Droid Sans", "Miriam Libre", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helmet, Freesans, Helvetica, Arial, sans-serif;
$font_sans_light:                       "Roboto Condensed Light", "Roboto Condensed", "Source Sans Pro", "Droid Sans", "Miriam Libre", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helmet, Freesans, Helvetica, Arial, sans-serif;

$font_monospace:                        Consolas, Bitstream Vera Sans Mono, Lucida Console, "Courier New", "Courier", Terminal, monospace;



// Default
$font_default:                          $font_serif_thin;
$font_size_default:                     12px;
$font_line_height_default:              $font_size_default + 4;
$font_default_thin:                     $font_sans_thin;
$font_size_default_thin:                12px;
$font_heading:                          $font_serif;
$font_size_heading:                     25px;                   // Base of all heading tags

// Code
$font_code:                             $font_monospace;
$font_size_code:                        12px;
$font_line_height_code:                 12px;
$font_size_code_in_text:                12px;

// Table
$font_table_heading:                    $font_sans_thin;
$font_table_data:                       $font_sans_thin;
$font_size_table_heading:               $font_size_default + 0;
$font_size_table_data:                  $font_size_default + 1;
$font_line_height_table_data:           $font_size_default + 2;

// Block Quote
$font_blockquote:                       $font_sans_thin;
$font_size_blockquote:                  $font_size_default;
$font_line_height_blockquote:           $font_size_blockquote + 4;
$word_spacing_blockquote:               0.1em;

// Add whitespace between words
// Normal whitespace between is 0.25em
$word_spacing:                          0.155em;



// Specifics
// -----------------------------------------------------------------------------

$font_site_title:                       $font_sans_thin;
$font_size_site_title:                  13px;
$font_weight_site_title:                bold;



// Navigation
$font_nav:                              $font_sans;
$font_size_nav:                         11px;
$font_size_page_nav:                    $font_size_nav + 2;



// Label
$font_label:                            $font_sans;
$font_size_label:                       11px;
$font_weight_label:                     bold;
$font_letter_spacing_label:             0.25px;
$font_word_spacing_label:               2px;

$font_sub_label:                        $font_sans_light;
$font_size_sub_label:                   12px;
$font_weight_sub_label:                 bold;



// Aside
$font_aside:                            $font_default;
$font_size_aside_text:                  $font_size_default + 2;
$font_line_height_aside_text:           $font_line_height_default + 4;





// Current date/time section
$font_datetime_date:                    $font_serif_thin;
$font_size_datetime_date:               $font_size_default + 1;
$font_datetime_time:                    $font_serif_thin;
$font_size_datetime_time:               $font_size_default + 1;



// Quotations section
$font_quotes:                           $font_default;
$font_quotes_author:                    $font_sans_light;
$font_quotes_context:                   $font_sans_thin;
$font_size_quotes:                      14px;
$font_size_quotes_author:               13px;
$font_size_quotes_context:              13px;
$font_line_height_quotes:               $font_size_quotes + 4;



// Block default font settings
$font_hub_default_title:                $font_serif;
$font_hub_default_date:                 $font_default;
$font_hub_default_excerpt:              $font_default;
$font_hub_default_text:                 $font_default;

$font_size_hub_default_title:           14px;
$font_size_hub_default_date:            $font_size_default;
$font_size_hub_default_excerpt:         $font_size_default;
$font_size_hub_default_text:            $font_size_default;

$font_line_height_hub_default_title:    16px;
$font_line_height_hub_default_date:     $font_line_height_default;
$font_line_height_hub_default_excerpt:  $font_line_height_default;
$font_line_height_hub_default_text:     $font_line_height_default;

$font_weight_hub_default_title:         bold;



// Block compact font settings
$font_hub_compact_title:                $font_sans_thin;
$font_hub_compact_date:                 $font_default;
$font_hub_compact_excerpt:              $font_default;
$font_hub_compact_text:                 $font_default;

$font_size_hub_compact_title:           12px;
$font_size_hub_compact_date:            $font_size_default;
$font_size_hub_compact_excerpt:         $font_size_default;
$font_size_hub_compact_text:            $font_size_default;

$font_line_height_hub_compact_title:    16px;
$font_line_height_hub_compact_date:     $font_line_height_default;
$font_line_height_hub_compact_excerpt:  $font_line_height_default;
$font_line_height_hub_compact_text:     $font_line_height_default;



// Related Post
$font_related_post_title:               $font_serif_thin;
$font_size_related_post_title:          $font_size_hub_default_title;
$font_line_height_related_post_title:   $font_line_height_hub_default_title;

$font_related_post_date:                $font_default;
$font_size_related_post_date:           $font_size_default;
$font_line_height_related_post_date:    $font_line_height_default;

$font_related_post_excerpt:             $font_default;
$font_size_related_post_excerpt:        $font_size_default;
$font_line_height_related_post_excerpt: $font_line_height_default;



// Page and Post
$font_page_title:                       $font_heading;
$font_page_title_code:                  $font_monospace;
$font_page_meta:                        $font_default;
$font_page_date:                        $font_default;
$font_page_excerpt:                     $font_default;
$font_page_text:                        $font_default;

$font_size_page_title:                  $font_size_heading;
$font_size_page_title_code:             $font_size_heading;
$font_size_page_meta:                   $font_size_default;
$font_size_page_date:                   $font_size_default;
$font_size_page_excerpt:                $font_size_default;
$font_size_page_text:                   $font_size_default + 5;//!global;

$font_line_height_page_title:           $font_size_heading + 4;
$font_line_height_page_title_code:      $font_size_heading + 4;
$font_line_height_page_meta:            $font_line_height_default;
$font_line_height_page_date:            $font_line_height_default;
$font_line_height_page_excerpt:         $font_line_height_default;
$font_line_height_page_text:            $font_line_height_default + 12;//!global;



// Post tags
$font_tag:                              $font_default_thin;
$font_size_tag:                         $font_size_default - 1;
$font_line_height_tag:                  $font_size_default + 4;



// Image and video attribution
$font_attribution:                      $font_serif_thin;
$font_size_attribution:                 11px;
$font_line_height_attribution:          10px;



// Image and video caption
$font_caption:                          $font_serif_thin;
$font_size_caption:                     11px;
$font_line_height_caption:              14px;



// Footnote
$font_footnote_link:                    $font_serif_thin;
$font_size_footnote_link:               $font_size_default;
$font_footnote:                         $font_serif;
$font_size_footnote:                    $font_size_default;



// Footer
$font_footer:                           $font_serif;
$font_size_footer:                      $font_size_default + 1;
$font_size_license:                     $font_size_default + 1;
$font_line_height_footer:               $font_line_height_default;



// Link buttons
$font_button:                           $font_sans;
$font_size_button:                      13px;
