// Miriam Libre
// Letters are narrower than Droid Sans.
// In smaller fonts, it is a bit readable than Droid Sans.
// @import url("https://fonts.googleapis.com/css?family=Miriam+Libre");

// Droid Serif
// Droid Serif is narrower than Liberation Serif.
// In smaller fonts, it appears readable than Liberation Serif.
//@import url("https://fonts.googleapis.com/css?family=Droid+Serif");

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Liberation+Serif:normal,italic,normalitalic,bolditalic");

$font_serif:                Palatino, "Palatino Linotype", "Times New Roman", Georgia, Times, serif;
$font_serif_thin:           "Liberation Serif", Palatino, "Palatino Linotype", "Times New Roman", Georgia, Times, serif;
$font_sans:                 "Open Sans", "Source Sans", "Lucida Sans", Helmet, Freesans, Helvetica, Arial, sans-serif;
$font_sans_thin:            "Source Sans Pro", "Droid Sans", "Miriam Libre", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helmet, Freesans, Helvetica, Arial, sans-serif;
$font_monospace:            Consolas, Bitstream Vera Sans Mono, Lucida Console, "Courier New", "Courier", Terminal, monospace;

// Title
$font_title:                $font_serif;
$font_weight_title:         bold;
$font_size_title:           20px;
$font_title_tagline:        $font_serif_thin;
$font_size_title_tagline:   14px;

// Default
$font_default:              $font_serif_thin;
$font_size_default:         13px;
$font_line_height_default:  15px;
$font_default_thin:         $font_sans_thin;
$font_size_default_thin:    12px;
$font_heading:              $font_serif_thin;
$font_size_heading:         25px;                   // Base of all heading tags

// Code
$font_code:                 $font_monospace;
$font_size_code:            12px;
$font_line_height_code:     12px;
$font_size_code_in_text:    12px;

// Table
$font_table_heading:        $font_sans_thin;
$font_table_data:           $font_sans_thin;
$font_size_table_heading:   $font_size_default;
$font_size_table_data:      $font_size_default;

// Block Quote
$font_blockquote:               $font_sans_thin;
$font_size_blockquote:          $font_size_default;
$font_line_height_blockquote:   $font_size_blockquote + 4;
$word_spacing_blockquote:       0.1em;

// Add whitespace between words
// Normal whitespace between is 0.25em
$word_spacing:              0.155em;



// Specifics
// -----------------------------------------------------------------------------

// Navigation
$font_nav:                      $font_serif_thin;
$font_size_nav:	                14px;
$font_size_page_nav:            $font_size_nav + 2;

$font_attribution:              $font_serif_thin;
$font_size_attribution:         11px;
$font_line_height_attribution:  10px;

// Label
$font_label:                    $font_sans_thin;
$font_size_label:               12px;

// Sidebar
$font_sidebar_entry_title:              $font_label;
$font_size_sidebar_entry_title:         11px;
$font_line_height_sidebar_entry_title:  14px;
$font_sidebar_entry_text:               $font_default;
$font_size_sidebar_entry_text:          $font_size_default;
$font_line_height_sidebar_text:         $font_line_height_default;

// Announcement
$font_announcement_title:               $font_sidebar_entry_title;
$font_size_announcement_title:          $font_size_sidebar_entry_title;
$font_line_height_announcement_title:   $font_line_height_sidebar_entry_title;
$font_announcement_date:                $font_default;
$font_size_announcement_date:           $font_size_default;
$font_line_height_announcement_date:    $font_line_height_default;
$font_announcement_text:                $font_default;
$font_size_announcement_text:           $font_size_default;
$font_line_height_announcement_text:    $font_line_height_default;

// Info
$font_info_title:               $font_sidebar_entry_title;
$font_size_info_title:          $font_size_sidebar_entry_title;
$font_line_height_info_title:   $font_line_height_sidebar_entry_title;
$font_info_date:                $font_default;
$font_size_info_date:           $font_size_default;
$font_info_text:                $font_default;
$font_size_info_text:           $font_size_default;
$font_line_height_info_text:    $font_line_height_default;

// Page and Post
$font_page_title:               $font_heading;
$font_size_page_title:          $font_size_heading;
$font_line_height_page_title:   $font_size_heading;
$font_size_page_title_code:     $font_size_heading;
$font_page_text:                $font_default;
$font_size_page_text:           $font_size_default !global;
$font_line_height_page_text:    $font_line_height_default !global;
$font_page_meta:                $font_page_text;
$font_size_page_meta:           $font_size_default;
$font_line_height_page_meta:    $font_line_height_default;

// News
$font_news_title:               $font_serif_thin;
$font_news_date:                $font_default;
$font_news_excerpt:             $font_default;
$font_news_text:                $font_default;
$font_size_news_title:          14px;
$font_size_news_date:           $font_size_default;
$font_size_news_excerpt:        $font_size_default;
$font_size_news_text:           $font_size_default;
$font_line_height_news_title:   16px;
$font_line_height_news_date:    $font_line_height_default;
$font_line_height_news_excerpt: $font_line_height_default;
$font_line_height_news_text:    $font_line_height_default;

// Related Post
$font_related_post_title:               $font_serif_thin;
$font_size_related_post_title:          14px;
$font_line_height_related_post_title:   16px;
$font_related_post_date:                $font_default;
$font_size_related_post_date:           $font_size_default;
$font_line_height_related_post_date:    $font_line_height_default;
$font_related_post_excerpt:             $font_default;
$font_size_related_post_excerpt:        $font_size_default;
$font_line_height_related_post_excerpt: $font_line_height_default;

// Quote
$font_quote:                $font_sans_thin;
$font_size_quote:           13px;
$font_line_height_quote:    $font_size_quote + 4;
$font_quote_author:         $font_serif_thin;
$font_size_quote_author:    13px;

// Current date/time
$font_datetime:             $font_sans_thin;
$font_size_datetime:        12px;

// Aside
$font_aside:                    $font_default;
$font_size_aside_text:          $font_size_default + 2;
$font_line_height_aside_text:   $font_line_height_default + 4;

// Footer
$font_footer:               $font_serif_thin;
$font_size_footer:          13px;
$font_size_license:         13px;

// Link buttons
$font_button:               $font_sans_thin;
$font_size_button:          12px;
