header {
    display: none;
    @media print {
        display: inline;
    }

    width: 100%;
    height: 85px;
    @include compact;

    h1 {
        // Avoid clipping of top part of text
        margin: 5px 0 0 0;
    }
    @media print {
        h1 {
            font-size: 14px;
            line-height: 14px;
        }
        p {
            margin-top: 2px;
            font-family: $font_title_tagline;
            font-size: 10px;
            line-height: 10px;
            &.license {
                padding: 4px 0 0 0;
                font-size: 10px;
                line-height: 12px;
                font-style: italic;
            }
        }
    }
}

#nav_top {
    $border_radius: 1px;
    @media print {
        display: none;
    }
    @include min-screen(720px + 1px) {
        position: fixed;
        top: 0;
    }
    z-index: 1001;
    width: 100%;
    // Added after the search box to fix vertical spacing
    height: 37px;
    @include max-screen(720px) {
        //height: 39px;
    }
    background-color: $color_button_bg;

    ul {
        // NOTE: Overflow cannot be hidden
        //       Otherwise the dropdown div will not be seen

        @include compact;
        list-style-type: none;
        @include max-screen(720px) {
            display: inline-block;
            width: 100%;
            background-color: $color_button_bg;
        }

        padding-top: 5px;
        @include max-screen(720px) {
            padding-top: 4px;
        }
        padding-left: 6px;

        li {
            @include compact;
            float: left;
            &.dropdown { float: left; }

            margin-bottom: 6px;
            @include max-screen(720px) {
                margin-bottom: 4px;
            }
            
            a {
                padding: 7px 11px 6px 11px;
                padding: 6px 11px 5px 11px;
                @include max-screen(720px) {
                    padding-top: 8px;
                }
                text-decoration: none;
                text-transform: uppercase;
                color: $color_button_text;
            }
            
            & > span:hover,
            & a:hover:not(.active) {
                color: $color_button_hover_text;
                background-color: $color_button_hover_bg;
                border: none;
                border-radius: $border_radius;
            }
        }

        li a {
            font-family: $font_nav;
            font-size: $font_size_nav + 1;
            font-weight: bold;
            text-align: center;
            
            letter-spacing: 0.5px;
            display: inline-block;

            border: none;
            i.fa-angle-down {
                font-weight: bold;
            }
            cursor: pointer;
        }
        
        li > a {
            font-family: $font_site_title;
            font-size: $font_size_site_title;
            @include max-screen(720px) {
                font-size: $font_size_site_title + 1;
            }
        }
        
        li.navicon > a {
            font-size: $font_size_site_title + 4;
        }

        // Dropdown menu

        li.dropdown {
            position: relative;
            display: inline-block;
        }

        div.dropdown_content {
            display: none;
            position: absolute;
            background-color: $color_button_bg;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;

            a {
                margin: 0 7px 0 7px;
                @include max-screen(720px) {
                    padding-top: 10px;
                    padding-bottom: 9px;
                }
                
                font-size: $font_size_nav;
                text-align: left;
                white-space: nowrap;
                display: block;

                &:first-child {
                    margin-top: 7px;
                }
                &:last-child {
                    margin-bottom: 7px;
                }
            }

            hr {
                margin: 7px 0 7px 0;
                background-image: linear-gradient(to right, $color_button_bg, rgba(200, 200, 200, 0.75), $color_button_bg);
                height: 1px;
            }
        }

        li.dropdown:hover div.dropdown_content {
            display: block;
        }

        li.dropdown:hover a.dropdown_link {
            border-radius: $border_radius;
        }
    }
}
