section.hub_column_main {
    @media print {
        margin-left: 0;
    }
    @include max-screen(1024px) {
        margin-top: 10px;
    }
}

// Intentionally placed after div.section_container
// so styles can be overridden
div.section_container_wrapper {
    margin-top: 10px;
    float: left;

    & > h1 {
        font-family: $font_label;
        font-size: $font_size_label;
        @include max-screen(720px) {
            font-size: $font_size_label + 1;
        }
        font-weight: bold;
        color: $color_main_bg;
        background: $color_sidebar_label;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.25px;
        margin: 0;
        float: left;
        display: inline-block;
    }

    // Title background
    & > h1 {
        $padding_top: 4px;
        $padding_bottom: 4px;
        padding: $padding_top 11px $padding_bottom 10px;
        @include max-screen(720px) {
            padding-top: $padding_top + 1;
            padding-bottom: $padding_bottom + 1;
        }
    }
}

div.section_container_wrapper_border {
    border-top: 1px solid $color_primary;
}



div.image_container,
div.section_container {
    float: left;
    float: clear;

    @include min-screen(1024px + 1px) {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
    }

    div.container {

        /*
        @include max-screen(1024px) {
            width: 100%;
        }

        @include min-screen(1024px + 1px) {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        */

        flex: 1;
        display: flex;
        flex-direction: column;

        & > img {
            display: block;
            max-width: calc(100% - 1px);
            width: auto;
            height: auto;
        }
    }

    div.container_top_border_thin {
        border-top: 1px solid $color_primary;
        @include min-screen(1024px + 1px) {
            padding-top: 10px;
            padding-top: 5px;
        }
    }

    div.container_bottom_border_thin {
        @include min-screen(1024px + 1px) {
            border-bottom: 1px solid $color_primary;
        }
    }

    // Contents are displayed in div.block
}

div.container_top_margin_10 {
    margin-top: 10px;
}

div.container_top_margin {
    margin-top: 20px;
}

div.container_no_top_margin_mobile {
    @include max-screen(720px) {
        margin-top: 0;
    }
}

div.container_bottom_margin_5 {
    @include min-screen(1024px + 1px) {
        padding-bottom: 5px;
    }
    @include max-screen(1024px) {
        padding-bottom: 0px;
    }
}

div.container_bottom_margin_10 {
    padding-bottom: 10px;
}

div.container_right_margin_10 {
    margin-right: 10px;
}

div.container_right_margin_20 {
    margin-right: 20px;
}

div.image_container {
    div.container {
        border-top: none;
    }
    img {
        border-radius: 3px;
    }
    margin-top: 10px;
    margin-bottom: 30px;
}
