section.info_column_main {

    div.gov_definition {
        p,
        li,
        p > a,
        li > a {
            @include set_font($font_page_text, $font_size_page_text, $color_page_text);
            line-height: $font_line_height_page_text;
            @include max-screen(720px) {
                line-height: $font_line_height_page_text + 2;
            }
        }
    }
    
    ol.info_list {
        li > a {
            @include set_font($font_hub_compact_title, $font_size_hub_compact_title + 2, $color_hub_entry_title);
            line-height: $font_line_height_hub_compact_title + 2;
            @include max-screen(720px) {
                font-size: $font_size_hub_compact_title + 2;
                line-height: $font_line_height_hub_compact_title + 3;
            }
            
            padding-bottom: 2px;
            
            border-bottom: none;
            &:hover {
                color: $color_link;
            }
        }
    }

/*
    div.block > div.entries > div.entry {
        p,
        li,
        p > a,
        li > a {
            @include set_font($font_page_text, $font_size_page_text, $color_page_text);
            line-height: $font_line_height_page_text;
            @include max-screen(720px) {
                line-height: $font_line_height_page_text + 2;
            }
        }
    }
*/
}
