
section.post_column_main {
    @media print {
        @include compact;
        margin-top: 20px;
    }
    // Applied to p, pre, ul, ol
    @mixin bottom_margin {
        margin: 0 0 12px 0;
    }

    div.meta {
        margin-bottom: 15px;
    }

    div.image_container {
        div {
            @include image_frame;
            p.attribution {
                @include attribution;
            }
            &.image_auto_width {
                float: right;
                margin-left: 10px;
                width: 300px;
                @include max-screen(500px) {
                    float: left;
                    width: 270px;
                    margin-left: 0px;
                }
            }
        }
    }

    div.video_container {

        @include video_frame;
        width: calc(100% - 10px);

        // div.video is styled at the bottom

        p.attribution {
            @include attribution;
        }

        @media screen {
            p.video_link {
                display: none;
            }
        }

        @media print {
            padding: 0;
            iframe,
            p.attribution {
                display: none;
            }
        }
    }

    @include common_heading;
    h6 + p {
        margin-top: 20px;
    }



    p, a, li, dl {
        text-align: left;

        @include set_font($font_page_text, $font_size_page_text + 6, $color_page_text);
        line-height: $font_line_height_page_text + 12;

        @include max-screen(720px) {
            @include set_font($font_page_text, $font_size_page_text + 3, $color_page_text);
            line-height: $font_line_height_page_text + 4;
        }
        @media print {
            @include set_font($font_page_text, $font_size_page_text + 4, $color_page_text);
            line-height: $font_size_page_text + 6 + 4;
        }
        word-spacing: 0.1em;

        & code,
        & code.highlighter-rouge {
            @include max-screen(720px) {
                font-size: $font_size_code_in_text - 1;
                line-height: $font_size_code_in_text - 1;
            }
            @include min-screen(720px + 1px) {
                font-size: $font_size_code_in_text + 3;
                line-height: $font_size_code_in_text + 3;
            }
            @media print {
                font-size: $font_size_code_in_text + 3;
                line-height: $font_size_code_in_text + 3;
            }
            color: $color_text;
            background: none;
        }
    }

    p {
        @include bottom_margin;
    }

    p sup a.footnote {
        @include compact;
        font-family: $font_footnote_link;
        font-size: $font_size_footnote_link;
        @include min-screen(720px + 1px) { font-size: $font_size_default_thin; }
        @include max-screen(720px) { font-size: $font_size_default_thin - 1; }
        line-height: $font_size_footnote_link;
        //font-weight: bold;
        color: $color_footnote_link;
    }

    div.footnotes {
        padding-top: 30px;
        hr {
            height: 1px;
            width: 30%;
            // Must be the same as paragraph separator vertical space
            margin-bottom: 12px;
        }
        ol {
            padding-left: 20px;

            li,
            li p,
            li p a {
                font-family: $font_footnote;
                font-size: $font_size_footnote + 4;
                line-height: $font_size_footnote + 6;
            }

            li {
                p {
                    //line-height: $font_size_default + 6;
                    margin-bottom: 0px;
                    a {
                        border-bottom: 1px dotted $color_link_underline;
                        &:hover {
                            color: $color_primary;
                        }
                    }
                }
                em {
                    font-size: $font_size_default - 1;
                }
            }
        }
    }

    div.video_container ~ p {
        padding-top: 0px;
    }
    div.video_container + p {
        padding-top: 15px;
    }
    table ~ p {
        margin-top: 12px;
    }

    div.meta {
        p {
            &.excerpt,
            &.date,
            &.category,
            &.tag {
                @include set_font($font_size_page_meta, $font_size_page_meta, $color_page_text);
                line-height: $font_line_height_page_meta;
                @include max-screen(720px) {
                    line-height: $font_line_height_page_meta + 2;
                }
                margin: 0;
            }

            &.excerpt + h2,
            &.date + h2,
            &.category + h2,
            &.tag {
                margin-top: 0px;
                padding-top: 0px;
            }

            @media print {
                &.excerpt,
                &.category,
                &.tag {
                        display: none;
                }

                &.date {
                    font-size: $font_size_page_meta + 2;
                }
            }
        }
        img {
            width: 55px;
            height: auto;
            float: left;
            margin-top: 3px;
            margin-right: 10px;
        }
    }



    ul, ol {
        @include bottom_margin;
        @include min-screen(720px + 1px) {
            margin-right: 30px;
        }

        ul, ol {
            padding-left: 18px;
        }
    }

    // Markdown fix on unsorted list
    // It is translated as ul li p wherein p should no be present.
    // We just remove the extra spaces between p
    ul li p {
        margin-bottom: 0;
    }

    div.aside,
    div.aside_right,
    div.aside_left {
        width: 35%;
        padding: 5px 10px 5px 10px;

        h1, h2, h3, h4, h5, h6 {
            @include compact;
        }


        @include max-screen(720px) {
            $font_size_page_title: $font_size_page_title - 10;
            $font_line_height_page_title: $font_line_height_page_title - 6;
            h1 { font-size: $font_size_page_title - 0; line-height: $font_line_height_page_title;     }
            h2 { font-size: $font_size_page_title - 0; line-height: $font_line_height_page_title - 2; }
            h3 { font-size: $font_size_page_title - 1; line-height: $font_line_height_page_title - 2; }
            h4 { font-size: $font_size_page_title - 1; line-height: $font_line_height_page_title - 2; }
            h5 { font-size: $font_size_page_title - 2; line-height: $font_line_height_page_title - 2; }
            h6 { font-size: $font_size_page_title - 2; line-height: $font_line_height_page_title - 2; }
        }

                & > p,
        & > p a {
            margin: 0;
            padding: 0;
            font-family: $font_page_text;
            font-size: $font_size_page_text + 1;
            color: $color_aside_text;
            line-height: $font_line_height_page_text + 1;
        }

        & > p.excerpt,
        & > p.excerpt a {
            margin-top: 0;
            font-size: $font_size_page_text;
            line-height: $font_line_height_page_text;
            font-weight: bold;
        }

        & p:first-of-type,
        & > a + p {
            margin-top: 0;
        }

        h1.font_italic + p,
        h2.font_italic + p,
        h3.font_italic + p,
        h4.font_italic + p,
        h5.font_italic + p,
        h6.font_italic + p,
        p + p,
        & div.video + p {
            margin-top: 12px;
        }

        & > img,
        & a > img {
            width: 100%;
        }

        & > a {
            border-bottom: none;
        }

        .font_bold {
            font-weight: bold;
        }
        .font_italic {
            font-style: italic;
        }
        .margin_top_20 {
            //margin-top: 10px;
        }
    }

    div.aside,
    div.aside_right {
        float: right;
        margin-left: 10px;
        border-right: 3px solid $color_aside_border;

        h1, h2, h3, h4, h5, h6 {
            text-align: right;
        }

        & > p,
        & > p a {
            text-align: right;
        }
    }

    div.aside_left {
        float: left;
        margin-right: 10px;
        border-left: 3px solid $color_aside_border;

        h1, h2, h3, h4, h5, h6 {
            text-align: left;
        }

        & > p,
        & > p a {
            text-align: left;
        }
    }
    
    div.aside_right_left_align {
        h1, h2, h3, h4, h5, h6,
        & > p,
        & > p a {
            text-align: left;
        }
    }

    div.aside_width_45 {
        width: 45%;
    }

    table {
        width: 100%;
        overflow: scroll;
        tbody tr {
            td,
            td p,
            td a,
            td li {
                @include set_font($font_table_data, $font_size_table_data + 2, $color_text);
                line-height: $font_line_height_table_data + 2;

                @include max-screen(720px) {
                    font-size: $font_size_table_data;
                    line-height: $font_line_height_table_data;
                }
            }
        }
        tbody tr td {
            @include wrap;
            a {
                //@include compact;
                border-bottom: none;
                text-decoration: none;
                &::after {
                    content: "\00a0\21d2";
                    font-weight: normal;
                }
                &:hover {
                    color: $color_link;
                }
            }
        }
        td:first-child {
            white-space: nowrap;
            word-wrap: nowrap;
        }
    }

    dl {
        margin: 0 20px 12px 20px;
        dt {
            color: $color_text;
            text-align: left;
            font-weight: normal;
        }

        dd {
            margin: 0 0 0 30px;
            padding: 0 0 0.5em 0;
            // Usually blocks have bottom margins but since the first dd line
            // is not interpreted as a paragraph, we add vertical spacing to the
            // 'next' block to achieve the effect.
            p {
                margin-top: 12px;
            }
            ul {
                @include set_margin_v(2px, 2px);
            }
        }
    }

    div.syntax {
        @include bottom_margin;
        padding: 10px 12px 4px 12px;
        background: $color_syntax_bg;
        border: 1px dotted $color_syntax_bg + 15;
        border-left: 3px solid $color_syntax_bg + 15;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        h6 {
            padding-top: 1px;
        }

        pre {
            color: $color_text;
            background: $color_code_bg + 3;
            border: 1px dotted $color_syntax_bg + 15;
            border-left: 6px solid $color_syntax_bg + 18;
        }

        dl {
            // Bottom margin takes into account that a paragraph may follow a definition list
            margin: 0 15px 10px 15px;
            dt {
                color: $color_text;
                text-align: left;
                font-weight: normal;
            }

            dd {
                margin: 0 0 0 30px;
                padding: 0 0 12px 0;
                // A term definition may have a subsequent paragraph.
                p {
                    text-align: left;
                    margin-bottom: 0px;
                }
                p + dl {
                    @include set_margin_v(12px, 0px);
                }
                pre {
                    margin: 12px 0px 12px 0px;
                }
                table {
                    @include set_margin_v(8px, 4px);
                    border: 1px solid $color_table_border + 5;
                    th {
                        @include set_font($font_table_heading, $font_size_table_heading, $color_text);
                        line-height: $font_size_table_heading + 3;
                        border: 1px solid $color_table_border + 5;
                        padding: 5px 6px;
                        background: $color_table_th_bg + 5;
                    }
                    td {
                        @include set_font($font_table_data, $font_size_table_data, $color_text);
                        line-height: $font_size_table_data + 3;
                        border: 1px solid $color_table_border + 5;
                        padding: 2px 6px 3px 6px;
                    }

                }
            }
        }
    }

    // - Rouge converts fenced code blocks to
    //   div.highlighter-rouge pre.highlight code
    // - Fenced code blocks are converted to div.highlight pre code.language-text
    div.highlight { }

    pre {
        font-family: $font_code;
        line-height: 18px;
        padding: 4px 5px 5px 8px;
        background: none;
        background: $color_code_bg;
        border: none;
        @include bottom_margin;
        overflow: auto;
        overflow-y: hidden;

        code {
            @include set_font($font_code, $font_size_code, $color_code);
            text-shadow: none;
            border: none;
            border-radius: 0px;
            margin: 0;

            table {
                border: none;
                margin-bottom: 0px;

                tr {
                    td {
                        padding: 0;
                        border: none;
                        code {
                            padding: 0;
                        }
                        pre.lineno {
                            padding: 4px 7px 0px 3px;
                        }
                        pre {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }

    blockquote {
        border-left: 6px solid $color_blockquote_bar;
        margin: 12px 0 12px 30px;
        @include max-screen(720px) {
            margin-left: 15px;
        }
        padding: 10px 12px 2px 12px;
        border-radius: 0 4px 4px 0;
        width: 80%;
        background: $color_blockquote_bg;

        p, a, li {
            @include set_font($font_blockquote, $font_size_blockquote + 4, $color_blockquote);
            line-height: $font_size_blockquote + 12;

            @include max-screen(720px) {
                @include set_font($font_blockquote, $font_size_blockquote + 2, $color_blockquote);
                line-height: $font_line_height_blockquote + 2;
            }
            @media print {
                @include set_font($font_blockquote, $font_size_blockquote + 4, $color_blockquote);
                line-height: $font_size_blockquote + 12;
            }

            word-spacing: $word_spacing_blockquote;
            margin-bottom: 8px;

            e {
                font-style: normal;
            }
            a {
                margin-bottom: 0px;
                &:hover {
                    color: $color_link;
                    border-bottom: 1px dotted $color_link_underline;
                }
            }
        }
    }

    blockquote > blockquote {
        padding: 0 12px 0 12px;
    }

    div.video {
        width: 100%;
        height: 0;
        position: relative;
        padding-bottom: 56.25%;

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}



#post_tags {
    @media print {
        display: none;
    }
    ul {
        @include compact;
        list-style-type: none;
        li {
            @include set_font($font_tag, $font_size_tag + 2, $color_tag_text);
            @include max-screen(720px) {
                font-size: $font_size_tag;
            }
            line-height: $font_line_height_tag;
            display: inline-block;
            padding: 4px 8px 3px 6px;
            margin-right: 5px;
            margin-bottom: 8px;
            background: $color_hr_default;
            border-radius: 3px;
            i.fa {
                vertical-align: middle;
                color: darken($color_hr_default, 20%);
            }
        }
    }
}

#post_operations {
    @media print {
        display: none;
    }
    margin-top: 20px;
    ul {
        padding: 0;
        list-style-type: none;
        li {
            text-align: center;
            // Display list items horizontally
            display: inline;

            padding: 0;
            margin-right: 5px;
            a {
                @include button;
            }
        }
    }
}

#related_posts_block,
#recent_posts_block {
    @media print {
        display: none;
    }

    @include max-screen(720px) {
        margin-top: 20px;
    }
}
