
section.hub_column_main {
    @media print {
        margin-left: 0;
    }
    @include max-screen(1024px) {
        margin-top: 10px;
    }

    div.image_container,
    div.section_container {
        float: left;
        width: 100%;

        @include min-screen(1024px + 1px) {
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
        }

        div.left_container,
        div.right_container {
            float: left;

            @include max-screen(1024px) {
                width: 100%;
                margin-bottom: 15px;
            }

            @include min-screen(1024px + 1px) {
                width: calc(50% - 5px);
                flex: 1;
                display: flex;
                flex-direction: column;
            }
            
            border-top: 1px solid $color_primary;

            & > img {
                display: block;
                max-width: calc(100% - 1px);
                width: auto;
                height: auto;
            }
        }

        div.right_container {
            margin-left: 10px;
            @include max-screen(1024px) {
                margin-left: 0;
            }
        }

        // Contents are displayed in div.block
/*
        div.block {
            background: $color_main_bg;
        }

        div.block + div.block {
            // No padding at the top
            // Less vertical spacing between the slider and list blocks
            padding: 0 10px 10px 10px;
            background: $color_news_background;
            border-radius: 3px;
            border: 1px solid $color_news_line;
            flex: 1;

            & > div.entries {
                margin-bottom: 0 !important;
            }
        }
*/
    }
    
    div.container_border {
        @include min-screen(1024px + 1px) {
            margin-bottom: 15px;
        }
        border-top: 3px solid $color_primary;
    }

    div.image_container {
        div.left_container,
        div.right_container {
            border-top: none;
        }
        img {
            border-radius: 3px;
        }
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
