@import "media-queries";
@import "color_light";
@import "font";
@import "mixin";

// Default
$video_width_default:       640px;
$video_height_default:      360px;

// 3/4
$video_width_75:            ($video_width_default / 4) * 3;
$video_height_75:           ($video_height_default / 4) * 3;

// 1/2
$video_width_50:            $video_width_default / 2;
$video_height_50:           $video_height_default / 2;


@page { size:8.5in 11in; margin: 1in }

@page:right {
    @bottom-left {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666;
        content: "Duterte Times";
        font-size: 9pt;
        color: #333;
    }
}

@page:left{
    @bottom-left {
        content: "Page " counter(page) " of " counter(pages);
    }
}

body {
    background: $color_bg;
    font-family: $font_default;
    font-size: $font_size_default;
    line-height: $font_size_default;
    color: $color_text;
    margin: 0;
    padding: 0;

    // 'Hide' horizontal scrollbar when viewed in small media
    // https://css-tricks.com/findingfixing-unintended-body-overflow/
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_heading;
}

p, a, li, dl {
    font-family: $font_default;
    font-size: $font_size_default;
}

a {
    color: $color_text;
    border-bottom: 1px dotted $color_link_underline;
    text-decoration: none;
    &:hover {
        color: $color_primary;
        border-bottom: 1px dotted $color_link_underline;
    }
}

hr {
    border: 0;
    outline: none;
    height: 3px;
    background: $color_hr_default;
    margin-top: 40px;
    margin-bottom: 40px;
    &.thin {
        height: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &.compact {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    &.medium {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &.dark {
        background: $color_hr_dark;
    }

    &.darker {
        background: $color_hr_darker;
    }

    &.darkest {
        background: #000;
    }
}

ul {
    list-style-type: disc;
    list-style-image: none;
    padding-left: 30px;
    margin-bottom: 0;
    li {
        padding-left: 5px;
    }
}

ol {
    padding-left: 40px;
    margin-bottom: 0;
    li {
        padding-left: 5px;
    }
}

strong {
    font-weight: bold;
    color: $color_text;
}

b {
    font-weight: bold;
}

em {
    font-weight: bold;
    font-style: italic;
}

i {
    font-style: italic;
}

mark {
    color: black;
}

pre {
    font-family: $font_code;
    font-size: $font_size_code;
}

p code {
    font-family: $font_code;
    font-size: $font_size_code;
}

aside {
    font-size: $font_size_aside_text;
    line-height: $font_size_default + 6;
    text-align: right;
    color: $color_aside_text;
    float: right;
    width: 34%;
    padding: 6px 8px 6px 8px;
    margin-left: 10px;
    border-right: 3px solid $color_aside_border;
}

sup {
    font-size: $font_size_default - 2;

    a {
        font-family: $font_default;
        font-size: $font_size_default - 3;
        color: $color_text;
        border-bottom: none;
    }
    a::before {
        content: " [note ";
    }
    a::after {
        content: "] ";
    }
}

div.footnotes {
    padding-top: 30px;
    hr {
        height: 1px;
        width: 30%;
        // Must be the same as paragraph separator vertical space
        margin-bottom: 12px;
    }
    ol {
        padding-left: 20px;

        li,
        li p,
        li p a {
            font-family: $font_default_thin;
            font-size: $font_size_default - 1;
        }

        li {
            p {
                line-height: $font_size_default + 2;
                margin-bottom: 0px;
                a {
                    border-bottom: none;
                }
            }
            em {
                font-size: $font_size_default - 1;
            }
        }
    }
}



/* ------------------------------------------------------------------------- */
/* Header and header navigation                                              */
/* ------------------------------------------------------------------------- */

header {

    width: 100%;
    height: 91px;
    padding-top: 5px;
    margin: 0;
    z-index: 1000;
    @media screen {
        background: $color_header_bg;
    }
    border-bottom: 5px solid $color_header_border_bottom;
    @include min-screen(721px) {
        position: fixed;
    }

    #site_header {
    
        width: 100%;
        float: left;
        
        #site_title {
            width: 300px;
            height: 50px;
            margin-bottom: 10px;
            float: left;
            
            img {
                width: 40px;
                height: 40px;
                float: left;
                margin: 10px 15px 0 15px;
                @media screen {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
                }
                @media print {
                    display: none;
                }
            }
            h1 {
                float: left;
                display: block;
                margin: 7px 0 0 0px;
                a {
                    font-family: $font_title;
                    font-size: $font_size_title;
                    font-weight: $font_weight_title;
                    text-align: left;
                    line-height: $font_size_title;
                    color: $color_header_title;
                    @media print {
                        color: black;
                    }
                    border: none;
                    &:hover {
                        border: none;
                    }
                    @include max-screen(720px) {
                        font-size: $font_size_title - 1;
                    }
                }
                
            }

            p {
                float: left;
                font-family: $font_title_tagline;
                font-weight: bold;
                @media print {
                    font-weight: normal;
                }
                font-size: $font_size_title_tagline;
                font-style: italic;
                letter-spacing: 0px;
                text-align: left;
                line-height: $font_size_title_tagline + 1;
                color: $color_header_title_tag;
                @media print {
                    color: black;
                }

                margin: 0;
                // If the title changes, the top padding may need to be adjusted
                padding: 4px 0 10px 0px;
            }
        }
        
        #site_title_right {
            @media screen {
                display: none;
            }
            @media print {
                float: right;
                width: 175px;
                height: 50px;
                @include print_copyright;
                /*
                p, a {
                    font-size: 8px;
                    line-height: 9px;
                    a {
                        border: none;
                    }
                    img {
                        display: none;
                    }
                }
                */
            }
        }
    }
    
    #nav_top,
    #social_media_links {
        @media print {
            display: none;
        }
        ul {
            margin: 0;
            margin-top: 10px;
            padding: 0;
            
            li {
                text-align: center;
                // Display list items horizontally
                display: inline;
                list-style-type: none;
                padding: 0;
                margin-right: 5px;
                a {
                    @include button;
                    @include top_button;
                    border: 1px solid $color_button_bg;
                }
            }
        }
    }
    
    
    #nav_top {
        @include min-screen(721px) {
            float: left;
            margin-left: 15px;
        }
        @include max-screen(720px) {
            display: none;
        }
    }
        
    #social_media_links {
        @include min-screen(721px) {
            float: right;
            // Offset the div right margin with the list item right margin
            margin-right: 10px;
        }
        @include max-screen(720px) {
            float: left;
            margin-left: 15px;
        }
    }
}



main {
    width: 100%;
    padding-top: 15px;
    float: left;
    background: $color_main_bg;
    
    @include min-screen(721px) {
        float: clear;
        padding-top: 110px;
    }
}



/* ------------------------------------------------------------------------- */
/* Columns                                                                   */
/* ------------------------------------------------------------------------- */

section {
    &.column_left_sidebar,
    &.hub_column_main,
    &.post_column_main,
    &.page_column_main,
    &.column_right_sidebar {
        float: left;
        font-family: $font_default;
        margin: 0px 15px 15px 15px;
    }
    &.hub_column_main,
    &.post_column_main,
    &.page_column_main {
        margin-top: 5px;
    }
}

// Media screen sizes
// https://css-tricks.com/snippets/css/media-queries-for-standard-devices/

section {
    &.column_left_sidebar {
        @include min-screen(1281px) { width: 270px; }
        @include max-screen(1280px) { width: 23%; }
        @include max-screen(1024px) { width: 30%; }
        @include max-screen(720px)  { width: 93%; }
    }

    &.hub_column_main,
    &.post_column_main,
    &.page_column_main {
        @include min-screen(1281px) { width: 51%; }
        @include max-screen(1280px) { width: 44%; }
        @include max-screen(1024px) { width: 62%; }
        @include max-screen(720px)  { width: 93%; }
    }

    &.column_right_sidebar {
        @include min-screen(1281px) { width: 270px; }
        @include max-screen(1280px) { width: 23%; }
        @include max-screen(1024px) { width: 62%; }
        @include max-screen(720px)  { width: 93%; }
    }
}



/* ------------------------------------------------------------------------- */
/* Left column                                                               */
/* ------------------------------------------------------------------------- */

section.column_left_sidebar {
    @media print {
        margin-left: 0;
    }
    h1 {
        @include sidebar_component_label;
    }

    p, li, dl {
        font-family: $font_sidebar;
        font-size: $font_size_sidebar;
        line-height: $font_size_sidebar + 2;
        text-align: left;
        & code {
            font-size: $font_size_sidebar - 1;
            color: $color_text;
        }
    }

    div {
        margin-bottom: 12px;
    }

    div.links {
        @include sidebar_component;
    }
}

#datetime {
    @media print {
        display: none;
    }
    margin-bottom: 12px;
    
    table {
        width: 100%;
        tr td {
            white-space: nowrap;
            .filler {
                width: 100%
            }
        }
    }

    p {
        font-family: $font_sidebar;
        font-size: $font_size_sidebar - 1;
        line-height: $font_size_sidebar + 2;
        margin: 0;
        padding: 0;
        &.datetime {
            text-align: center;
        }
    }
}

#nav_left {
    @media print {
        display: none;
    }
    @include min-screen(721px) {
        display: none;
    }
    
    border-radius: 3px;
    padding: 12px 15px 15px 15px;
    background: $color_sidebar_bg;
    margin-bottom: 12px;

    ul {
        margin: 3px 0 0 0;
        padding: 0;
        
        li {
            list-style-type: none;
            padding: 0;
            a {
                @include button;
                @include left_button;
                background-color: transparent;
                &:hover {
                    background-color: $color_button_hover_bg;
                }
                display: block;
            }
        }
    }
}

#announcement {

    @include max-screen(720px) {
        margin-top: 20px;
    }
    margin-bottom: 15px;

    div.announcement_heading {

        img.label {
            margin-right: 5px;
            vertical-align: bottom;
            float: right;
        }
        
        h1 {
            @include sidebar_component_label;
            font-family: $font_announcement_title;
            font-weight: normal;
            color: $color_announcement_title;
            vertical-align: top;
            padding: 0 0 10px 0;
        }
    }

    p {
        font-family: $font_announcement_text;
        font-size: $font_size_sidebar;
        line-height: $font_size_sidebar + 2;
        text-align: left;
        color: $color_announcement_text;
        
        margin: 0;
        
        &.date {
            font-family: $font_announcement_date;
            font-size: $font_size_announcement_date;
            color: $color_announcement_date;
            margin: 0;
        }
    }
}

#random_quotes div.quote {
   
    @include sidebar_component;
    background: $color_sidebar_bg;
    // Less vertical space
    padding-bottom: 8px;
    margin-bottom: 20px;
    @media print {
        padding: 10px 50px 12px 50px;
    }
    
    table {
        margin: 0px;
        margin-top: 8px;
    }
    table tr td {
        vertical-align: top;
        border: none;
        padding: 0px;
    }
    
    p {
        font-family: $font_quote;
        font-size: $font_size_quote;
        @include max-screen(720px) {
            font-size: $font_size_quote + 1;
        }
        font-style: normal;
        line-height: $font_line_height_quote;
        letter-spacing: 0.25px;
        color: $color_quote_text;
        margin-top: 0px;
        margin-bottom: 0px;
        
        span {
            font-family: $font_quote_author;
            font-size: $font_size_quote_author;
            font-style: normal;
            color: $color_quote_author;
            
        }
        span.qauthor {
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}

#newsbits_roll {
    @media print {
        padding-left: 0;
    }
    @include sidebar_component_scroll;
    margin-bottom: 15px;

    h1 {
        color: $color_sidebar_label;
    }

    div.newsbits {
        margin-top: 5px;
        margin-bottom: 0px;
        @include min-screen(721px) {
            height: 300px;
            overflow-y: scroll;
        }
        @include max-screen(720px) {
            padding-right: 15px;
        }
        overflow-x: hidden;
        background: $color_sidebar_bg;

        div.newsbit {
            margin-right: 5px;
            h2 {
                font-family: $font_news_title;
                font-size: $font_size_news_title;
                font-weight: bold;
            }
            ul {
                margin-top: 2px;
                padding-left: 25px;
            }
            p, li {
                font-family: $font_news_text;
                font-size: $font_size_news_text;
                margin-top: 2px;
                margin-bottom: 2px;
                @include max-screen(720px) {
                    margin-top: 5px;
                }
                padding: 0;
                &.date {
                    color: $color_news_bit_date;
                    margin-bottom: 0px;
                }
            }
            li {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
}



/* ------------------------------------------------------------------------- */
/* Page main column                                                          */
/* ------------------------------------------------------------------------- */

section.page_column_main {
    @media print {
        padding-left: 0;
    }
    @include min-screen(721px) { width: 50%; }
    @include max-screen(720px) { width: 93%; }
    
    margin-left: 50px;
    margin-right: 40px;
    
    @include max-screen(720px) {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    @include common_heading;
    
    p, em, a, li {
        font-family: $font_page_text;
        @include min-screen(721px) {
            font-size: $font_size_page_text;
            line-height: $font_line_height_page_text;
        }
        @include max-screen(720px) {
            font-size: $font_size_page_text;
            line-height: $font_line_height_page_text;
        }
    }
    
    div.social_media_links {
        ul {
            padding: 0;
            
            li {
                text-align: center;
                // Display list items horizontally
                display: inline;
                list-style-type: none;
                padding: 0;
                margin-right: 5px;
                a {
                    @include button;
                }
            }
        }
    }
}



/* ------------------------------------------------------------------------- */
/* Hub main column                                                           */
/* ------------------------------------------------------------------------- */

section.hub_column_main {
    @media print {
        margin-left: 0;
    }
    div#news_top {
        h1, h2, h3, h4, h5, h6 {
            font-family: $font_news_hub_title;
            font-weight: bold;
            color: $color_news_hub_title;
            margin: 0;
            code {
                color: $color_news_hub_title;
            }
            a {
                border-bottom: none;
                &:hover {
                    color: $color_news_hub_title;
                    border-bottom: 1px dotted $color_news_hub_title;
                    padding-bottom: 2px;
                    @include max-screen(720px) {
                        padding-bottom: 0px;
                    }
                }
            }
        }
        
        h1, h2 {
            padding: 0 0 1px 0;
            @include max-screen(720px) {
                padding: 0 0 2px 0;
            }
        }
        
        p {
            &.date {
                font-family: $font_news_hub_date;
                color: $color_news_hub_date;
                margin: 0;
            }
            &.excerpt {
                font-family: $font_news_hub_excerpt;
                font-size: $font_size_news_hub_excerpt;
                font-style: italic;
                line-height: $font_size_news_hub_excerpt + 4;
                color: $color_news_hub_excerpt;
                margin-top: 2px;
                margin-bottom: 13px;
            }
        }

        div.news_latest {
            h1 {
                a {
                    font-size: $font_size_news_hub_latest_title;
                    line-height: $font_size_news_hub_latest_title + 4;
                }
            }
            p.date {
                font-size: $font_size_news_hub_latest_date;
            }
        }
        div.news_next {
            h2 a {
                font-size: $font_size_news_hub_next_title;
                line-height: $font_size_news_hub_next_title + 6;
            }
            p.date {
                font-size: $font_size_news_hub_next_date;
             }
        }
    }
}



/* ------------------------------------------------------------------------- */
/* Post main column                                                          */
/* ------------------------------------------------------------------------- */

section.post_column_main {
    // Applied to p, pre, ul, ol
    @mixin bottom_margin {
        margin: 0 0 12px 0;
    }
    
    div.video {
        width: $video_width_75;
        background: $color_bg;
        padding: 5px 5px 5px 5px;
        margin: 0 0 20px 0;
        iframe {
            width: $video_width_75;
            height: $video_height_75;
            
        }
        p.attribution {
            padding: 2px 0px 3px 0px;
            margin: 2px 0 0 0;
            font-size: $font_size_page_meta;
            font-style: italic;
            line-height: $font_line_height_page_meta;
            color: $color_text;
        }
        @media screen {
            p.video_link {
                display: none;
            }
        }
        @media print {
            padding: 0;
            iframe,
            p.attribution {
                display: none;
            }
        }
    }
    
    @include common_heading;

    p, em, a, li, dl {
        font-family: $font_page_text;
        font-size: $font_size_page_text;
        line-height: $font_line_height_page_text;
        text-align: left;
        
        @include max-screen(720px) {
            font-size: $font_size_page_text;
            line-height: $font_line_height_page_text + 3;
        }
        
        @media print {
            line-height: $font_size_page_text + 4;
        }
        
        & em {
            font-weight: normal;
            font-style: normal;
        }
        
        & code {
            @include min-screen(721px) { font-size: $font_size_default - 1; }
            @include max-screen(720px) { font-size: $font_size_default + 1; }
            color: $color_text;
        }
    }

    p {
        text-align: left;
        @include bottom_margin;

        &.excerpt,
        &.date,
        &.category {
            font-size: $font_size_page_meta;
            font-style: italic;
            line-height: $font_line_height_page_meta;
            @include max-screen(720px) {
                line-height: $font_line_height_page_meta + 2;
            }
            color: $color_text;
            margin: 0;
        }

        &.excerpt + h2,
        &.date + h2,
        &.category + h2 {
            margin-top: 0px;
            padding-top: 0px;
        }
        &.category {
            padding-bottom: 15px;
        }
    }

    @include max-screen(720px) {
        sup {
            a {
                font-size: $font_size_default_thin - 2;
            }
        }
    }

    ul, ol {
        @include bottom_margin;
        // Collapse bottom margin of inner 'ul'
        ul, ol {
            margin-bottom: 0px;
        }
    }

    // Markdown fix on unsorted list
    // It is translated as ul li p wherein p should no be present.
    // We just remove the extra spaces between p
    ul li p {
        margin-bottom: 0;
    }

    table {
        letter-spacing: 0px;
        border: 1px solid $color_table_border;
        th, td {
            font-family: $font_default_thin;
            line-height: $font_size_default + 3;
            border: 1px solid $color_table_border;
            i, em {
                font-family: $font_default_thin;
                font-size: $font_size_default - 1;
                line-height: $font_size_default;
            }
        }

        th {
            font-size: $font_size_table_heading;
            font-weight: normal;
            padding: 5px 6px;
            background: $color_table_th_bg;
        }

        td {
            font-size: $font_size_table_data;
            vertical-align: top;
            padding: 2px 6px 3px 6px;

            p {
                margin: 5px 0 0 0;
                &.label {
                    line-height: 19px;
                    margin: 0;
                    white-space: nowrap !important;
                }
            }

            ul, ol {
                list-style-type: square;
                margin-bottom: 0px;
            }
        }

        th:first-child,
        td:first-child {
            border-left: none;
        }
    }

    dl {
        margin: 0 20px 12px 20px;
        dt {
            color: $color_text;
            text-align: left;
            font-weight: normal;
        }

        dd {
            margin: 0 0 0 30px;
            padding: 0 0 0.5em 0;
            // Usually blocks have bottom margins but since the first dd line
            // is not interpreted as a paragraph, we add vertical spacing to the
            // 'next' block to achieve the effect.
            p {
                margin-top: 12px;
            }
            ul {
                margin-top: 2px;
                margin-bottom: 2px;
            }
        }
    }

    div.syntax {
        @include bottom_margin;
        padding: 10px 12px 4px 12px;
        background: $color_syntax_bg;
        border: 1px dotted $color_syntax_bg + 15;
        border-left: 3px solid $color_syntax_bg + 15;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        h6 {
            padding-top: 1px;
        }

        pre {
            color: $color_text;
            background: $color_code_bg + 3;
            border: 1px dotted $color_syntax_bg + 15;
            border-left: 6px solid $color_syntax_bg + 18;
        }

        dl {
            // Bottom margin takes into account that a paragraph may follow a definition list
            margin: 0 15px 10px 15px;
            dt {
                color: $color_text;
                text-align: left;
                font-weight: normal;
            }

            dd {
                margin: 0 0 0 30px;
                padding: 0 0 12px 0;
                // A term definition may have a subsequent paragraph.
                p {
                    text-align: left;
                    margin-bottom: 0px;
                }
                p + dl {
                    margin-top: 12px;
                    margin-bottom: 0px;
                }
                pre {
                    margin: 12px 0px 12px 0px;
                }
                table {
                    margin-top: 8px;
                    margin-bottom: 4px;
                    border: 1px solid $color_table_border + 5;
                    th, td {
                        font-family: $font_default_thin;
                        line-height: $font_size_default + 3;
                        border: 1px solid $color_table_border + 5;
                    }
                    th {
                        font-size: $font_size_table_heading;
                        padding: 5px 6px;
                        background: $color_table_th_bg + 5;
                    }
                    td {
                        font-size: $font_size_table_data;
                        padding: 2px 6px 3px 6px;
                    }

                }
            }
        }
    }

    code {
        font-family: $font_code;
        font-size: $font_size_code_in_text;
        font-style: normal;
        color: $color_code_highlight;
        margin: 0 0px;
    }

    em code {
        font-style: italic;
    }

    // Fenced code blocks are converted to div.highlight pre code.language-text
    div.highlight { }

    pre {
        font-family: $font_code;
        line-height: 18px;
        padding: 4px 5px 5px 8px;
        background: none;
        background: $color_code_bg;
        border: none;
        @include bottom_margin;
        overflow: auto;
        overflow-y: hidden;

        code {
            font-family: $font_code;
            font-size: $font_size_code;
            color: $color_code;
            text-shadow: none;
            border: none;
            border-radius: 0px;
            margin: 0;

            table {
                border: none;
                margin-bottom: 0px;

                tr {
                    td {
                        padding: 0;
                        border: none;
                        code {
                            padding: 0;
                        }
                        pre.lineno {
                            padding: 4px 7px 0px 3px;
                        }
                        pre {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
    
    blockquote {
        border-left: 6px solid $color_blockquote_bar;
        margin: 12px 0 12px 30px;
        padding: 10px 12px 2px 12px;
        border-radius: 0 4px 4px 0;
        width: 80%;
        background: $color_blockquote_bg;
        
        p, em, a {
            font-family: $font_blockquote;
            font-size: $font_size_blockquote;
            font-style: normal;
            line-height: $font_line_height_blockquote;
            color: $color_blockquote;
            margin-bottom: 8px;
            word-spacing: $word_spacing_blockquote;
            e {
                font-style: normal;
            }
            a {
                margin-bottom: 0px;
                &:hover {
                    color: $color_link;
                    border-bottom: 1px dotted $color_link_underline;
                }
            }
        }
    }
    
    table.tags {
        @media print {
            display: none;
        }
        border: none;
        padding: 0;
        tr {
            border: none;
            padding: 0;
            td {
                border: none;
                padding: 0;
                vertical-align: top;
                
                img.tagsymbol {
                    width: 16px;
                    height: 16px;
                    vertical-align: middle;
                    padding-top: 5px;
                    padding-right: 10px;
                }
                
                span.tag {
                    font-size: $font_size_default - 1;
                    line-height: $font_size_default + 10;
                    color: $color_tag_text;
                    background: $color_tag_bg;
                    padding: 2px 8px 4px 8px;
                    border-radius: 2px;
                    margin-right: 5px;
                }
            }
        }
    }
    
    #post_operations {
        @media print {
            display: none;
        }
        margin-top: 20px;
        ul {
            padding: 0;
            
            li {
                text-align: center;
                // Display list items horizontally
                display: inline;
                list-style-type: none;
                padding: 0;
                margin-right: 5px;
                a {
                    @include button;
                }
            }
        }
    }
}



/* ------------------------------------------------------------------------- */
/* Right column                                                              */
/* ------------------------------------------------------------------------- */

section.column_right_sidebar {

    h1 {
        @include sidebar_component_label;
    }

    p, li, dl {
        font-family: $font_sidebar;
        font-size: $font_size_sidebar;
        line-height: $font_size_sidebar + 2;
        text-align: left;
        & code {
            font-size: $font_size_sidebar - 1;
            color: $color_text;
        }
    }

    ul, ol {
        padding-left: 20px;

        li {
            font-family: $font_sidebar;
            font-size: $font_size_sidebar;
            padding: 0 0 0 0px;
            line-height: $font_size_sidebar + 4;
            a {
                font-family: $font_sidebar;
                font-size: $font_size_sidebar;
                color: $color_sidebar_text;
                border-bottom: none;
                &:hover {
                    color: $color_primary;
                    
                }
            }
        }

        li.current,
        a.current {
            color: $color_primary;
        }
    }

    div {
        margin-bottom: 12px;
    }

    div.links {
        @include sidebar_component;
    }

    #news_roll {
        @include sidebar_component_scroll;
        background: $color_sidebar_bg;

        h1 {
            color: $color_sidebar_label;
        }

        div.news_items {
            margin-bottom: 0px;
            @include min-screen(721px) {
                height: 500px;
                overflow-y: scroll;
            }
            @include max-screen(720px) {
                padding-right: 15px;
            }
            overflow-x: hidden;

            div.news_item {
                h2 {
                    font-family: $font_news_title;
                    font-size: $font_size_news_title;
                    font-weight: bold;
                }
                p {
                    font-family: $font_news_text;
                    font-size: $font_size_news_text;
                }
            }
        }
    }
    
    #related_posts,
    #recent_posts {
        ul {
            padding: 0;
            margin-top: 0;
            list-style-type: none;
            
            li {
                h2 {
                    // h2 settings only used for 'no related posts'
                    font-family: $font_related_post_title;
                    font-size: $font_size_related_post_title;
                    font-weight: normal;
                    line-height: $font_size_related_post_title;
                    a {
                        font-family: $font_related_post_title;
                        font-size: $font_size_related_post_title;
                        font-weight: bold;
                        line-height: $font_size_related_post_title + 2;
                    }
                }
                h2, p {
                    margin: 0px 0 2px 0;
                }
                p {
                    &.date {
                        font-family: $font_related_post_date;
                        font-size: $font_size_related_post_date;
                        margin-bottom: 1px;
                    }
                    &.excerpt {
                        font-family: $font_related_post_excerpt;
                        font-size: $font_size_related_post_excerpt;
                        font-style: italic;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    
    #recent_posts {
        // Add vertical space after the related posts block
        margin-top: 20px;
    }
    
    #twitter_feed {
        // Twitter container defines 10px padding on all sides
        // We just offset to match our settings
        padding: 0px 3px 2px 3px;
        background: $color_sidebar_bg;
        height: 400px;
    }
}



/* ------------------------------------------------------------------------- */
/* Bottom                                                                    */
/* ------------------------------------------------------------------------- */

#page_previous,
#page_next {
    width: 50%;

    a {
        font-family: $font_heading;
        font-size: $font_size_default + 4;
        font-weight: normal;
        line-height: 1.3em;
        color: $color_primary;
        border-bottom: none;
        text-shadow: 1px 1px 1px #000;
        margin: 0;

        &:hover {
            color: $color_primary;
        }
    }

    p.back_to_top a {
        font-size: $font_size_default + 3;
        text-shadow: none;
    }

    p i,
    p em {
        color: $color_text;
    }
}

#page_previous {
    float: left;
}

#page_next {
    float: right;
    text-align: right;
    a, p {
        text-align: right;
    }
}



/* ------------------------------------------------------------------------- */
/* Footer                                                                    */
/* ------------------------------------------------------------------------- */

footer {
    float: left;
    width: 100%;

    font-family: $font_footer;
    font-size: $font_size_footer;
    color: $color_footer_text;
    background: $color_footer_bg;
    border-top: 3px solid $color_footer_border_top;
    padding: 20px 0px 20px 0px;

    #footer_content {
        padding: 0px 0 0 25px;

        #footer_column_one,
        #footer_column_two,
        #footer_column_three,
        #footer_column_four {
            float: left;
            //width: 282px;
            //width: 260px;
            padding-right: 30px;
        }

        #footer_column_one,
        #footer_column_four {
            width: 240px;
        }

        #footer_column_two,
        #footer_column_three {
            width: 300px;
        }

        div.license {
            p, p a {
                font-size: $font_size_license;
            }
            p a {
                color: $color_primary;
                border: none;
            }
            p {
                padding: 0px;
                word-wrap: normal;
                & img {
                    margin-bottom: 5px;
                }
            }
            span.plain_color a {
                color: $color_footer_text !important;
            }
            span.highlight_cc {
                font-weight: bold;
            }
        }
        
        #footer_column_four {
            float: right;
            text-align: right;
        }
    }

    #footer_bottom {
        float: left;
        padding: 10px 25px 0 25px;
        p, p a {
            font-size: $font_size_license;
        }
        p a {
            color: $color_primary;
            border: none;
        }
    }
    
    @media print {
        border: none;
        #footer_column_one,
        #footer_column_two,
        #footer_column_three,
        #footer_column_four {
            display: none;
        }
    }
}

#prefooter {
    float: left;
    width: 100%;
    padding: 20px 0px 15px 0px;
    margin-left: 5px;
    #prefooter_column_one,
    #prefooter_column_two,
    #prefooter_column_three,
    #prefooter_column_four {
        float: left;
        width: 282px;
        padding-right: 30px;
    }
}



.list_style_none {
    list-style-type: none;
}

.padding_left_none {
    padding-left: 0px !important;
}
