@mixin compact {
    margin: 0;
    padding: 0;
}

@mixin set_margin_v($top: 0px, $bottom: 0px) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin set_padding_v($top: 0px, $bottom: 0px) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin set_margin_h($left: 0px, $right: 0px) {
    margin-left: $left;
    margin-right: $right;
}

@mixin set_padding_h($left: 0px, $right: 0px) {
    padding-left: $left;
    padding-right: $right;
}

@mixin set_font($font, $size, $color, $weight: normal, $style: normal) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    line-height: $size;
    color: $color;
    @media print {
        color: black;
    }
}

@mixin common_heading {
    h1 { font-size: $font_size_page_title;     line-height: $font_line_height_page_title;     }
    h2 { font-size: $font_size_page_title - 2; line-height: $font_line_height_page_title - 2; }
    h3 { font-size: $font_size_page_title - 4; line-height: $font_line_height_page_title - 2; }
    h4 { font-size: $font_size_page_title - 6; line-height: $font_line_height_page_title - 2; }
    h5 { font-size: $font_size_page_title - 7; line-height: $font_line_height_page_title - 2; }
    h6 { font-size: $font_size_page_title - 8; line-height: $font_line_height_page_title - 2; }

    h1 code { font-size: $font_size_page_title - 0; }
    h2 code { font-size: $font_size_page_title - 5; }
    h3 code { font-size: $font_size_page_title - 6; }
    h4 code { font-size: $font_size_page_title - 8; }
    h5 code { font-size: $font_size_page_title - 10; }
    h6 code { font-size: $font_size_page_title - 11; }
    
    @include max-screen(720px) {
        h1 { font-size: $font_size_page_title - 4; line-height: $font_line_height_page_title;     }
        h2 { font-size: $font_size_page_title - 5; line-height: $font_line_height_page_title - 2; }
        h3 { font-size: $font_size_page_title - 6; line-height: $font_line_height_page_title - 2; }
        h4 { font-size: $font_size_page_title - 7; line-height: $font_line_height_page_title - 2; }
        h5 { font-size: $font_size_page_title - 8; line-height: $font_line_height_page_title - 2; }
        h6 { font-size: $font_size_page_title - 9; line-height: $font_line_height_page_title - 2; }
        
        h1 code { font-size: $font_size_page_title - 4; }
        h2 code { font-size: $font_size_page_title - 5; }
        h3 code { font-size: $font_size_page_title - 6; }
        h4 code { font-size: $font_size_page_title - 7; }
        h5 code { font-size: $font_size_page_title - 8; }
        h6 code { font-size: $font_size_page_title - 9; }
    }
    
    @media print {
        h1 { font-size: $font_size_page_title - 4; line-height: $font_line_height_page_title;     }
        h2 { font-size: $font_size_page_title - 5; line-height: $font_line_height_page_title - 2; }
        h3 { font-size: $font_size_page_title - 6; line-height: $font_line_height_page_title - 2; }
        h4 { font-size: $font_size_page_title - 7; line-height: $font_line_height_page_title - 2; }
        h5 { font-size: $font_size_page_title - 8; line-height: $font_line_height_page_title - 2; }
        h6 { font-size: $font_size_page_title - 9; line-height: $font_line_height_page_title - 2; }
        
        h1 code { font-size: $font_size_page_title - 4; }
        h2 code { font-size: $font_size_page_title - 5; }
        h3 code { font-size: $font_size_page_title - 6; }
        h4 code { font-size: $font_size_page_title - 7; }
        h5 code { font-size: $font_size_page_title - 8; }
        h6 code { font-size: $font_size_page_title - 9; }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font_page_title;
        font-weight: bold;
        color: $color_news_title;
        margin-bottom: 13px;
        code {
            color: $color_news_title;
        }
    }
    h1 {
        margin-top: 0px;
        padding-top: 0px;
    }
    h2, h3, h4 {
        margin-top: 10px;
        padding-top: 20px;
    }
    h5, h6 {
        @include set_margin_v(0, 10px);
        padding-top: 10px;
        // For bread crumbs
        a {
            @include set_font($font_heading, $font_size_default, $color_primary);
            border-bottom: none;
        }
        &.bread_crumb {
            font-style: normal;
            line-height: 22px;
        }
    }
    h5 {
        font-style: italic;
    }
    h6 {
        font-style: normal;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin sidebar_component_label {
    @include set_font($font_label, $font_size_label, $color_sidebar_label, bold);
    @include max-screen(720px) {
        font-size: $font_size_label + 1;
    }
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    margin: 0;
    margin-bottom: 15px;
    padding-top: 1px;
    display: inline;
}

@mixin sidebar_component {
    @include compact;
    @include set_padding_v(10px, 12px);
    @include max-screen(720px) {
        padding-top: 10px;
    }
    background: $color_sidebar_bg;
}

@mixin sidebar_component_internal {
    @include set_margin_v(5px + 3px, 0px);
    margin-right: 0px;
    @include max-screen(720px) {
        padding-right: 10px;
    }
}

@mixin sidebar_component_boxed($shadow) {
    @include sidebar_component;
    @include set_padding_h(13px, 13px);
    border: 1px solid $color_box;
    border-radius: 3px;
    @include min-screen(721px) {
        @if $shadow > 0 {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.19), 0 2px 10px 0 rgba(0, 0, 0, 0.18);
        }
    }
}

@mixin sidebar_component_scroll($shadow) {
    @include sidebar_component_boxed($shadow);
    padding-right: 2px;
}

@mixin sidebar_component_scroll_internal($height) {
    @include sidebar_component_internal;
    @include min-screen(721px) {
        height: $height;
        overflow-y: scroll;
    }
    overflow-x: hidden;
}

@mixin component_entry {
    @include set_margin_v(0px, 15px);
}

@mixin component_entry_heading_base($font, $size, $color) {
    @include set_font($font, $size, $color, bold);
    @include max-screen(720px) {
        line-height: $size + 2;
    }
    border-bottom: none;
    @include compact;
}

@mixin component_entry_heading($font, $size, $color) {
    @include component_entry_heading_base($font, $size, $color);
    margin-bottom: 5px;
}

@mixin component_entry_heading_link($font, $size, $color) {
    @include component_entry_heading_base($font, $size, $color);
}

@mixin component_entry_content {
    ul {
        margin-top: 2px;
        padding-left: 25px;
    }
    p {
        @include set_margin_v(2px, 2px);
        @include max-screen(720px) {
            margin-top: 5px;
        }
        padding: 0;
    }
    li {
        @include set_margin_v;
    }
}

@mixin image_frame {
    background: $color_image_bg;
    margin: 5px 0px 5px 0;
    padding: 5px 5px 5px 5px;
}

@mixin video_frame {
    @include image_frame;
}

@mixin attribution {
    @include set_font($font_attribution, $font_size_attribution, $color_image_attribution, normal, italic);
    text-align: right;
    padding: 2px 0px 3px 0px;
    margin: 2px 0 0 0;
}

@mixin button {
    @include set_font($font_button, $font_size_button, $color_button_bg);
    @include max-screen(720px) {
        font-size: $font_size_button + 1;
    }
    text-align: center;
    white-space: nowrap;
    background-color: $color_button_text;

    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: 1px solid $color_button_bg;
    
    cursor: pointer;
    background-image: none;
    
    &:hover {
        font-weight: normal;
        color: $color_button_hover_bg;
        background-color: $color_button_hover_text;
    }
}

@mixin top_button {
    border-radius: 4px 4px 0 0;
    color: $color_button_text;
    background-color: $color_button_bg;
    border: 1px solid $color_button_bg;
    
    &:hover {
        font-weight: normal;
        color: $color_button_hover_text;
        background-color: $color_button_hover_bg;
    }
}

@mixin left_button {
    font-weight: normal;
    color: $color_text;
    padding: 4px 10px 6px 10px;
    border-radius: 0px;
    border: 0;
    &:hover {
        color: $color_button_text;
    }
}

@mixin print_copyright {
    p, a {
        font-size: 10px;
        line-height: 12px;
        a {
            border: none;
        }
        img {
            display: none;
        }
    }
}