@mixin compact {
    margin: 0;
    padding: 0;
}

@mixin set_margin_v($top: 0px, $bottom: 0px) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin set_padding_v($top: 0px, $bottom: 0px) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin set_margin_h($left: 0px, $right: 0px) {
    margin-left: $left;
    margin-right: $right;
}

@mixin set_padding_h($left: 0px, $right: 0px) {
    padding-left: $left;
    padding-right: $right;
}

@mixin set_font($font, $size, $color, $weight: normal, $style: normal) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
    @media print {
        color: black;
    }
}

@mixin common_heading {
    h1 { font-size: $font_size_page_title;     line-height: $font_line_height_page_title;     }
    h2 { font-size: $font_size_page_title - 2; line-height: $font_line_height_page_title - 2; }
    h3 { font-size: $font_size_page_title - 4; line-height: $font_line_height_page_title - 2; }
    h4 { font-size: $font_size_page_title - 6; line-height: $font_line_height_page_title - 2; }
    h5 { font-size: $font_size_page_title - 7; line-height: $font_line_height_page_title - 2; }
    h6 { font-size: $font_size_page_title - 8; line-height: $font_line_height_page_title - 2; }

    h1 code { font-size: $font_size_page_title - 0; }
    h2 code { font-size: $font_size_page_title - 5; }
    h3 code { font-size: $font_size_page_title - 6; }
    h4 code { font-size: $font_size_page_title - 8; }
    h5 code { font-size: $font_size_page_title - 10; }
    h6 code { font-size: $font_size_page_title - 11; }

    @include max-screen(720px) {
        $font_size_page_title: $font_size_page_title - 6;
        $font_line_height_page_title: $font_line_height_page_title - 2;
        h1 { font-size: $font_size_page_title - 0; line-height: $font_line_height_page_title;     }
        h2 { font-size: $font_size_page_title - 0; line-height: $font_line_height_page_title - 2; font-style: italic; }
        h3 { font-size: $font_size_page_title - 1; line-height: $font_line_height_page_title - 2; }
        h4 { font-size: $font_size_page_title - 1; line-height: $font_line_height_page_title - 2; font-style: italic; }
        h5 { font-size: $font_size_page_title - 2; line-height: $font_line_height_page_title - 2; }
        h6 { font-size: $font_size_page_title - 2; line-height: $font_line_height_page_title - 4; font-style: italic; }

        h1 code { font-size: $font_size_page_title - 0; }
        h2 code { font-size: $font_size_page_title - 0; }
        h3 code { font-size: $font_size_page_title - 1; }
        h4 code { font-size: $font_size_page_title - 1; }
        h5 code { font-size: $font_size_page_title - 2; }
        h6 code { font-size: $font_size_page_title - 2; }
    }

    @media print {
        $font_size_page_title: 20px;
        $font_line_height_page_title: $font_size_page_title;
        h1 { font-size: $font_size_page_title;     line-height: $font_line_height_page_title;     }
        h2 { font-size: $font_size_page_title - 2; line-height: $font_line_height_page_title - 2; }
        h3 { font-size: $font_size_page_title - 4; line-height: $font_line_height_page_title - 2; }
        h4 { font-size: $font_size_page_title - 6; line-height: $font_line_height_page_title - 2; }
        h5 { font-size: $font_size_page_title - 7; line-height: $font_line_height_page_title - 2; }
        h6 { font-size: $font_size_page_title - 8; line-height: $font_line_height_page_title - 2; }

        h1 code { font-size: $font_size_page_title - 0; }
        h2 code { font-size: $font_size_page_title - 5; }
        h3 code { font-size: $font_size_page_title - 6; }
        h4 code { font-size: $font_size_page_title - 8; }
        h5 code { font-size: $font_size_page_title - 10; }
        h6 code { font-size: $font_size_page_title - 11; }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font_heading;
        font-weight: bold;
        color: $color_page_title;
        margin-bottom: 13px;
    }
    h1 {
        margin-top: 0px;
        padding-top: 0px;
    }
    h2, h3, h4 {
        margin-top: 10px;
        padding-top: 20px;
    }
    h5, h6 {
        @include set_margin_v(0, 10px);
        padding-top: 10px;
        // For bread crumbs
        a {
            @include set_font($font_heading, $font_size_default, $color_primary);
            border-bottom: none;
        }
        &.bread_crumb {
            font-style: normal;
            line-height: 22px;
        }
    }
    h5 {
        font-style: italic;
    }
    h6 {
        @include compact;
        text-align: center;
        font-style: normal;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
           border-top-left-radius: $radius;
                  background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
             border-top-right-radius: $radius;
                     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
           border-bottom-left-radius: $radius;
                     background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
             border-top-left-radius: $radius;
                    background-clip: padding-box;
}

// Block
@mixin block {
    @include compact;
    @include set_padding_v(10px, 12px);
    float: left;
    //background: $color_sidebar_bg;
}

// Block with borders
@mixin block_boxed($shadow: 0) {
    @include sidebar_block;
    @include set_padding_h(13px, 13px);
    border: 1px solid $color_box;
    border-radius: 3px;
    @include min-screen(721px) {
        @if $shadow > 0 {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.19), 0 2px 10px 0 rgba(0, 0, 0, 0.18);
        }
    }
}

// Scrollable Block
// Used with scrollable internal block
@mixin block_scroll($shadow: 0) {
    @include sidebar_block_boxed($shadow);
    // Padding between scrollbar and outer box
    padding-right: 2px;
}

// Internal of block
// Holds the contents of a block
@mixin block_internal {
    @include set_margin_v;
    margin-right: 0px;
    @include max-screen(720px) {
        padding-right: 10px;
    }
    float: left;
    display: inline-block;
    width: 100%;
}

// Scrollable internal block
// Holds the contents of a block
@mixin block_internal_scroll($height) {
    @include block_internal;
    margin-top: 10px;
    @include min-screen(721px) {
        height: $height;
        overflow-y: scroll;
    }
    overflow-x: hidden;
}

// Common item heading in the contents of a block
@mixin block_entry_heading_base($font, $size, $color) {
    @include set_font($font, $size, $color, bold);
    @include max-screen(720px) {
        line-height: $size + 2;
    }
    @include compact;
}

// Text item heading in the contents of a block
@mixin block_entry_heading($font, $size, $color) {
    @include block_entry_heading_base($font, $size, $color);
    margin-bottom: 0;
}

// Link item heading in the contents of a block
@mixin block_entry_heading_link($font, $size, $color) {
    @include block_entry_heading_base($font, $size, $color);
    border-bottom: none;
}

@mixin image_frame {
    background: $color_image_bg;
    margin: 5px 0px 0 0;
    padding: 5px 5px 0 5px;
}

@mixin video_frame {
    @include image_frame;
}

@mixin attribution {
    @include set_font($font_attribution, $font_size_attribution, $color_image_attribution, normal, italic);
    @include max-screen(720px) {
        font-size: $font_size_attribution - 1;
    }
    text-align: right;
    @include min-screen(720px + 1px) {
        @include compact;
    }
    @include max-screen(720px) {
        margin: 2px 0 0 0;
        padding: 2px 0px 3px 0px;
    }
}

@mixin button {
    @include set_font($font_button, $font_size_button, $color_button_bg);
    @include max-screen(720px) {
        font-size: $font_size_button + 1;
    }
    text-align: center;
    white-space: nowrap;
    background-color: $color_button_text;

    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: 1px solid $color_button_bg;

    cursor: pointer;
    background-image: none;

    &:hover {
        font-weight: normal;
        color: $color_button_hover_bg;
        background-color: $color_button_hover_text;
    }
}

@mixin left_button {
    font-weight: normal;
    color: $color_text;
    padding: 4px 10px 6px 10px;
    border-radius: 0px;
    border: 0;
    &:hover {
        color: $color_button_text;
    }
}

@mixin wrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@mixin print_copyright {
    p, a {
        font-size: 10px;
        line-height: 12px;
        a {
            border: none;
        }
        img {
            display: none;
        }
    }
}
