@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin sidebar_component_label {
    font-family: $font_label;
    font-weight: normal;
    font-size: $font_size_label;
    color: $color_secondary;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
}

@mixin sidebar_component {
    border-radius: 3px;
    //padding: 12px 15px 15px 15px;
    padding: 10px 13px 12px 13px;
}

@mixin sidebar_component_scroll {
    border-radius: 3px;
    //padding: 12px 3px 15px 15px;
    padding: 10px 2px 13px 13px;
}