@mixin common_heading {
    h1 { font-size: $font_size_page_title;     line-height: $font_line_height_page_title;     }
    h2 { font-size: $font_size_page_title - 2; line-height: $font_line_height_page_title - 2; }
    h3 { font-size: $font_size_page_title - 4; line-height: $font_line_height_page_title - 2; }
    h4 { font-size: $font_size_page_title - 6; line-height: $font_line_height_page_title - 2; }
    h5 { font-size: $font_size_page_title - 7; line-height: $font_line_height_page_title - 2; }
    h6 { font-size: $font_size_page_title - 8; line-height: $font_line_height_page_title - 2; }

    h1 code { font-size: $font_size_page_title - 0; }
    h2 code { font-size: $font_size_page_title - 5; }
    h3 code { font-size: $font_size_page_title - 6; }
    h4 code { font-size: $font_size_page_title - 8; }
    h5 code { font-size: $font_size_page_title - 10; }
    h6 code { font-size: $font_size_page_title - 11; }
    
    @include max-screen(720px) {
        h1 { font-size: $font_size_page_title - 4; line-height: $font_line_height_page_title;     }
        h2 { font-size: $font_size_page_title - 5; line-height: $font_line_height_page_title - 2; }
        h3 { font-size: $font_size_page_title - 6; line-height: $font_line_height_page_title - 2; }
        h4 { font-size: $font_size_page_title - 7; line-height: $font_line_height_page_title - 2; }
        h5 { font-size: $font_size_page_title - 8; line-height: $font_line_height_page_title - 2; }
        h6 { font-size: $font_size_page_title - 9; line-height: $font_line_height_page_title - 2; }
        
        h1 code { font-size: $font_size_page_title - 4; }
        h2 code { font-size: $font_size_page_title - 5; }
        h3 code { font-size: $font_size_page_title - 6; }
        h4 code { font-size: $font_size_page_title - 7; }
        h5 code { font-size: $font_size_page_title - 8; }
        h6 code { font-size: $font_size_page_title - 9; }
    }
    
    @media print {
        h1 { font-size: $font_size_page_title - 4; line-height: $font_line_height_page_title;     }
        h2 { font-size: $font_size_page_title - 5; line-height: $font_line_height_page_title - 2; }
        h3 { font-size: $font_size_page_title - 6; line-height: $font_line_height_page_title - 2; }
        h4 { font-size: $font_size_page_title - 7; line-height: $font_line_height_page_title - 2; }
        h5 { font-size: $font_size_page_title - 8; line-height: $font_line_height_page_title - 2; }
        h6 { font-size: $font_size_page_title - 9; line-height: $font_line_height_page_title - 2; }
        
        h1 code { font-size: $font_size_page_title - 4; }
        h2 code { font-size: $font_size_page_title - 5; }
        h3 code { font-size: $font_size_page_title - 6; }
        h4 code { font-size: $font_size_page_title - 7; }
        h5 code { font-size: $font_size_page_title - 8; }
        h6 code { font-size: $font_size_page_title - 9; }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font_page_title;
        font-weight: bold;
        color: $color_news_title;
        margin-bottom: 13px;
        code {
            color: $color_news_title;
        }
    }
    h1 {
        margin-top: 0px;
        padding-top: 0px;
    }
    h2, h3, h4 {
        margin-top: 10px;
        padding-top: 20px;
    }
    h5, h6 {
        margin-top: 0px;
        margin-bottom: 10px;
        padding-top: 10px;
        // For bread crumbs
        a {
            font-family: $font_heading;
            font-size: $font_size_default;
            font-weight: normal;
            color: $color_primary;
            border-bottom: none;
        }
        &.bread_crumb {
            font-style: normal;
            line-height: 22px;
        }
    }
    h5 {
        font-style: italic;
    }
    h6 {
        font-style: normal;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin sidebar_component_label {
    font-family: $font_label;
    font-size: $font_size_label;
    @include max-screen(720px) {
        font-size: $font_size_label + 1;
    }
    font-weight: bold;
    color: $color_sidebar_label;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
    padding-top: 1px;
    display: inline;
}

@mixin sidebar_component {
    padding: 10px 13px 12px 13px;
    @include max-screen(720px) {
        padding: 10px 0px 0px 0px;
    }
    background: $color_sidebar_bg;
}

@mixin sidebar_component_internal {
    margin-top: 5px + 3px;
    margin-bottom: 0px;
    margin-right: 0px;
    @include max-screen(720px) {
        padding-right: 15px;
    }
}

@mixin sidebar_component_boxed($shadow) {
    @include sidebar_component;
    border: 1px solid $color_box;
    border-radius: 3px;
    @include min-screen(721px) {
        @if $shadow > 0 {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.19), 0 2px 10px 0 rgba(0, 0, 0, 0.18);
        }
    }
}

@mixin sidebar_component_scroll($shadow) {
    @include sidebar_component_boxed($shadow);
    padding-right: 2px;
}

@mixin sidebar_component_scroll_internal($height) {
    @include sidebar_component_internal;
    @include min-screen(721px) {
        height: $height;
        overflow-y: scroll;
    }
    overflow-x: hidden;
}

@mixin component_entry {
    margin-top: 0px;
    margin-bottom: 15px;
}

@mixin component_entry_heading {
    margin-top: 0px;
    margin-bottom: 0px;
}

@mixin component_entry_content {
    ul {
        margin-top: 2px;
        padding-left: 25px;
    }
    p {
        margin-top: 2px;
        margin-bottom: 2px;
        @include max-screen(720px) {
            margin-top: 5px;
        }
        padding: 0;
    }
    li {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@mixin button {
    font-family: $font_button;
    font-size: $font_size_button;
    @include max-screen(720px) {
        font-size: $font_size_button + 1;
    }
    font-weight: normal;
    text-align: center;

    white-space: nowrap;
    
    color: $color_button_bg;
    background-color: $color_button_text;

    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border: 1px solid $color_button_bg;
    
    cursor: pointer;
    background-image: none;
    
    &:hover {
        font-weight: normal;
        color: $color_button_hover_bg;
        background-color: $color_button_hover_text;
    }
}

@mixin top_button {
    border-radius: 4px 4px 0 0;
    color: $color_button_text;
    background-color: $color_button_bg;
    border: 1px solid $color_button_bg;
    
    &:hover {
        font-weight: normal;
        color: $color_button_hover_text;
        background-color: $color_button_hover_bg;
    }
}

@mixin left_button {
    font-weight: normal;
    color: $color_text;
    padding: 4px 10px 6px 10px;
    border-radius: 0px;
    border: 0;
    &:hover {
        color: $color_button_text;
    }
}

@mixin print_copyright {
    p, a {
        font-size: 10px;
        line-height: 12px;
        a {
            border: none;
        }
        img {
            display: none;
        }
    }
}