


div.section_container_wrapper {
    & > div.section_container {
        & > div.container {
            & > p {
                font-family: $font_default;
                font-size: $font_size_default + 1;
                line-height: $font_line_height_default + 1;
                color: $color_text;
            }
        }
    }
}

form.style_one input#search_input {

    background: #fff url('/images/search.png') no-repeat 6px 6px;
    @include set_font($font_serif, $font_size_default + 4, $color_text, bold);
   
    width: 300px;
    @include max-screen(720px) {
        width: 100%;
    }
    border: 1px solid $color_box;
    padding: 4px 5px 4px 25px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    
    //outline: none;
    
    &:focus {
        //-moz-box-shadow: 0 0 8px #88D5E9;
        //-webkit-box-shadow: 0 0 8px #88D5E9;
        //box-shadow: 0 0 8px #88D5E9;
        
        //border: 1px solid #88D5E9;
    }
    
    @include max-screen(720px) {
        display: hidden;
        background: none;
    }
}

// Intentionally placed here to override the #search settings defined above
#nav_top > div#search {
    & > form.style_one input#search_input {
        margin: 1px 5px 0 20px;
        border: none;
        border-width: 0;
        border-style: none;
        width: 200px;
    }
}
    
/*
form.style_one input#search_button {

    @include button;
    @include set_font($font_sans_thin, $font_size_default + 2, $color_text, bold);
    
    padding-top: 3px;
    padding-bottom: 4px;
    
    color: $color_button_text;
    background-color: $color_button_bg;
    border: 1px solid $color_button_text;
    border-radius: 2px;
    
    &:hover {
        font-weight: bold;
        color: $color_button_bg;
        background-color: $color_button_text;
    }
}
*/

#search {

    @include max-screen(720px) {
        display: hidden;
    }
}

// Overrides tipue settings
div#tipue_search_content {

    max-width: 100%;

    & > p {
        font-family: $font_hub_default_title;
        font-size: $font_size_hub_default_title;
        line-height: $font_line_height_hub_default_title + 2;
        @include max-screen(720px) {
            font-size: $font_size_hub_default_title + 2;
            line-height: $font_line_height_hub_default_title + 3;
        }
        color: $color_text;
    }

    #tipue_search_results_count {
        @include set_font($font_hub_default_excerpt, $font_size_hub_default_excerpt, $color_hub_entry_excerpt);
        padding-bottom: 15px;
    }

    & > div.tipue_search_content_title {
        margin-top: 10px;
    }
    & > div.tipue_search_content_title:first-of-type {
        margin-top: 0;
    }
    
    // Align the items for display
    
    & > div.tipue_search_content_title {
        /*
        & > span,
        & > span + a {
            display: table-cell;
        }
        */
        
        & > span {
            display: inline-block;
            // Aligned up to six digits
            min-width: 50px;
            font-size: $font_size_hub_default_excerpt + 1;
        }
    }
    & > div.tipue_search_content_text,
    & > div.tipue_search_content_categories,
    & > div.tipue_search_content_tags,
    & > div.tipue_search_content_debug {
        & > p {
            // Overrides previous setting: block
            display: inline-block;
            margin: 0;
            padding-left: 40px;
        }
    }
    
    & > div.tipue_search_content_title > a {
        @include block_entry_heading($font_hub_default_title, $font_size_hub_default_title, $color_hub_entry_title);
        line-height: $font_line_height_hub_default_title + 2;
        @include max-screen(720px) {
            font-size: $font_size_hub_default_title + 2;
            line-height: $font_line_height_hub_default_title + 3;
        }
        padding-bottom: 2px;

        border-bottom: none;
        &:hover {
            color: $color_link;
        }
    }

    & > div.tipue_search_content_text,
    & > div.tipue_search_content_categories,
    & > div.tipue_search_content_tags,
    & > div.tipue_search_content_debug {
        @include set_font($font_hub_default_excerpt, $font_size_hub_default_excerpt, $color_hub_entry_excerpt);
        @include max-screen(720px) {
            font-size: $font_size_hub_default_excerpt + 1;
        }
        line-height: $font_line_height_hub_default_excerpt;
        @include max-screen(720px) {
            line-height: $font_line_height_hub_default_excerpt + 2;
        }
    }
    
    #tipue_search_foot_boxes li
    {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline;
        display: inline-block;
        cursor: pointer;
        
        & > a,
        &.current {
            font-family: $font_hub_default_title;
            font-size: $font_size_hub_default_title;
            line-height: $font_line_height_hub_default_title + 2;
            @include max-screen(720px) {
                font-size: $font_size_hub_default_title + 2;
                line-height: $font_line_height_hub_default_title + 3;
            }
            padding: 10px 17px 11px 17px;
            @include max-screen(720px) {
                padding: 8px 15px 9px 15px;
            }
            background-color: #fff;
            border: 1px solid #e2e2e2;
            border-radius: 2px;
            color: #333;
            margin-right: 7px;
            text-decoration: none;
            text-align: center;
            
            display: inline-block;
            cursor: pointer;
        }
        
        &.current {
            background: #f6f6f6;
        }
    }

    #tipue_search_foot_boxes li a:hover
    {
         background: #f6f6f6;
    }

}
