#weather_section_container {
    @include min-screen(720px + 1px) {
        border-top: none;
        & > h1 {
            display: none;
        }
        // Overrides the div.section_container_wrapper setting
        margin-top: 0px !important;
    }
}

#weather_block {
    @media print {
        display: none;
    }

    @include max-screen(720px) {
        margin-top: 20px;
    }

    & > div.entries > div.entry > div.image {
        @include compact;
        background: black;
        // This positions the image at the upper left
        // The image must be centered thus @A.
        //margin: 5px 0 5px 0;
        // Add vertical space for attribution
        padding-bottom: 10px;

        & > img {
            //float: left;
            width: calc(100% - 10px);
            // @A: Center image
            margin: 5px 5px 4px 5px;
        }

        & > p.attribution {
            @include attribution;
            color: lighten($color_image_attribution, 30%);
            padding-top: 2px;
        }
    }
}
