#weather_block {
    @include min-screen(720px + 1px) {
        @include compact;
        h1 {
            display: none;
        }
    }
    @include max-screen(720px) {
        @include sidebar_component;
    }
    div.weather_satellite {
        @include min-screen(720px + 1px) {
            @include compact;
        }
        @include max-screen(720px) {
            @include sidebar_component_internal;
        }
        div.image {
            background: black;
            @include max-screen(720px) {
                margin: 5px 0px 5px 0;
            }
            img {
                overflow: hidden;
            }
            p.attribution {
                @include attribution;
                color: lighten($color_image_attribution, 30%);
                padding: 0px 0px 3px 0px;
                margin: 0px 0 0 0;
            }
        }
    }
}
