---
layout:
---

{% assign show_items = "" | split: "" %}
{% assign show_items = show_items | push: "date" %}
{% assign show_items = show_items | push: "excerpt" %}
    
{% assign postCount = 0 %}

{% for post in site.categories['news'] %}
    {% if post.title == page.title %}
        {% continue %}
    {% endif %}
    <div class="entry">
        {% include block_entry.html post=post show=show_items %}
    </div>
    {% assign postCount = postCount | plus: 1 %}
    {% if postCount == 5 %}
        {% break %}
    {% endif %}
{% endfor %}
