---
layout: default
---

{% include hub_left_sidebar.html %}

<section class="hub_column_main">

    {{ content }}
    
    <div id="news_tops_block">
        <h1>Top News</h1>
        <div class="news_tops">
            {% assign top_id = nil %}
            {% assign postCount = 0 %}
            {% for post in site.categories['articles'] %}
                {% if post.categories contains 'topnews' or post.categories contains 'article' %}
                    {% assign top_id = post.date %}
                    <div class="news_top">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        {% comment %}
                        {% if post.date == nil %}
                            <p class="date">Undated</p>
                        {% else %}
                            <p class="date">
                                {% capture postdate %}{{ post.date | date: '%Y-%m-%d' }}{% endcapture %}
                                {% capture postyear %}{{ post.date | date: '%Y' }}{% endcapture %}
                                {% if postdate == nowday %}
                                    {{ post.date | date: site.data.format.same_day }}
                                {% elsif postyear == nowyear %}
                                    {{ post.date | date: site.data.format.same_year }}
                                {% endif %}
                            </p>
                        {% endif %}
                        {% endcomment %}
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                    {% capture postCount %}{{ postCount | plus: 1 }}{% endcapture %}
                    {% if postCount == '7' %}
                        {% break %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <div id="news_articles_block">
        <h1>Other News</h1>
        <div class="news_articles">
            {% assign postCount = 0 %}
            {% for post in site.categories['other'] %}
                {% if post.date != top_id %}
                <div class="news_article">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    {% comment %}
                    {% if post.date == nil %}
                        <p class="date">Undated</p>
                    {% else %}
                        <p class="date">
                            {% capture postdate %}{{ post.date | date: '%Y-%m-%d' }}{% endcapture %}
                            {% capture postyear %}{{ post.date | date: '%Y' }}{% endcapture %}
                            {% if postdate == nowday %}
                                {{ post.date | date: site.data.format.same_day }}
                            {% elsif postyear == nowyear %}
                                {{ post.date | date: site.data.format.same_year }}
                            {% endif %}
                        </p>
                    {% endif %}
                    {% endcomment %}
                    <p class="excerpt">{{ post.excerpt }}</p>
                </div>
                {% capture postCount %}{{ postCount | plus: 1 }}{% endcapture %}
                {% if postCount == '7' %}
                    {% break %}
                {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    {% if site.categories['business'].size > 0 %}
    <div id="news_section_business_container">
        <div class="news_section_block">
            <h1>Commerce and Industry</h1>
            <div class="news_section">
                {% for post in site.categories['business'] limit:3 %}
                    <div class="news_section_entry">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="news_section_block_right">
        </div>
    </div>
    {% endif %}
    
    {% if site.categories['agriculture'].size > 0 %}
    <div id="news_section_agriculture_container">
        <div class="news_section_block">
            <h1>Agriculture</h1>
            <div class="news_section">
                {% for post in site.categories['agriculture'] limit:3 %}
                    <div class="news_section_entry">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="news_section_block_right">
        </div>
    </div>
    {% endif %}

    <div id="news_section_vertical_container">
        {% if site.categories['landreform'].size > 0 %}
        <div class="news_section_landreform_block">
            <h1>Land Reform</h1>
            <div class="news_section">
                {% for post in site.categories['landreform'] limit:3 %}
                    <div class="news_section_entry">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if site.categories['transportation'].size > 0 %}
        <div class="news_section_transport_block">
            <h1>Transportation</h1>
            <div class="news_section">
                {% for post in site.categories['transportation'] limit:3 %}
                    <div class="news_section_entry">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if site.categories['scitech'].size > 0 %}
        <div class="news_section_scitech_block">
            <h1>Science and Technology</h1>
            <div class="news_section">
                {% for post in site.categories['scitech'] limit:3 %}
                    <div class="news_section_entry">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    
</section>

{% include hub_right_sidebar.html %}

