---
layout: default
---

{% include hub_left_sidebar.html %}

<section class="hub_column_main">

    {{ content }}
    
    <div id="news_tops_block">
        <h1>Top News</h1>
        <div class="news_tops">
            {% assign top_id = nil %}
            {% for post in site.categories['topnews'] limit:1 %}
                {% assign top_id = post.date %}
                <div class="news_top">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    {% comment %}
                    {% if post.date == nil %}
                        <p class="date">Undated</p>
                    {% else %}
                        <p class="date">
                            {% capture postdate %}{{ post.date | date: '%Y-%m-%d' }}{% endcapture %}
                            {% capture postyear %}{{ post.date | date: '%Y' }}{% endcapture %}
                            {% if postdate == nowday %}
                                {{ post.date | date: site.data.format.same_day }}
                            {% elsif postyear == nowyear %}
                                {{ post.date | date: site.data.format.same_year }}
                            {% endif %}
                        </p>
                    {% endif %}
                    {% endcomment %}
                    <p class="excerpt">{{ post.excerpt }}</p>
                    
                    {% comment %}
                    {% if post.image.source != nil %}
                        <div class="image_container">
                        {% if post.image.layout == "auto_width" %}
                            <div class="image_auto_width">
                                <img width="50%" height="auto" src="{{ post.image.source }}" />
                                {% comment %}
                                <p class="attribution">image by {{ post.image.attribution }}&nbsp;</p>
                                {% endcomment %}
                            </div>
                        {% else %}
                            <div>
                                <img width="100%" height="auto" src="{{ post.image.source }}" />
                                {% comment %}
                                <p class="attribution">image by {{ post.image.attribution }}&nbsp;</p>
                                {% endcomment %}
                            </div>
                        {% endif %}
                        </div>
                    {% endif %}
                    {% endcomment %}
                
                    {% if post.video.source != nil and post.video.layout == "top" %}
                        <div class="video">
                            <p class="video_link"><span>Link to video:</span><br/><a href="https://www.youtube.com/watch?v={{ post.video.source }}">https://www.youtube.com/watch?v={{ post.video.source }}</a></p>
                            <iframe width="{{ site.data.youtube.width }}" height="{{ site.data.youtube.height }}" src="https://www.youtube.com/embed/{{ post.video.source }}" frameborder="0"></iframe>
                            {% comment %}
                            <p class="attribution">video by {{ post.video.attribution }}&nbsp;</p>
                            {% endcomment %}
                        </div>
                    {% endif %}
                    
                    {{ post.content }}
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div id="news_articles_block">
        <h1>Other News</h1>
        <div class="news_articles">
            {% for post in site.categories['articles'] limit:8 %}
                {% if post.date != top_id and post.categories != 'business' and post.categories != 'other' %}
                <div class="news_article">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    {% comment %}
                    {% if post.date == nil %}
                        <p class="date">Undated</p>
                    {% else %}
                        <p class="date">
                            {% capture postdate %}{{ post.date | date: '%Y-%m-%d' }}{% endcapture %}
                            {% capture postyear %}{{ post.date | date: '%Y' }}{% endcapture %}
                            {% if postdate == nowday %}
                                {{ post.date | date: site.data.format.same_day }}
                            {% elsif postyear == nowyear %}
                                {{ post.date | date: site.data.format.same_year }}
                            {% endif %}
                        </p>
                    {% endif %}
                    {% endcomment %}
                    <p class="excerpt">{{ post.excerpt }}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <div id="news_section_horizontal_container">
        <div class="news_section_business_block">
            <h1>Commerce and Industry</h1>
            <div class="news_section_business">
                {% for post in site.categories['business'] limit:3 %}
                    <div class="news_section_entry">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% comment %}
    <div id="news_section_vertical_container">
        <div class="news_section_agriculture_block">
            <h1>Agriculture</h1>
            <div class="news_section_agriculture">
                {% for post in site.categories['news_section'] limit:3 %}
                    <div class="news_section_entry">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="news_section_scitech_block">
            <h1>Science and Technology</h1>
            <div class="news_section_scitech">
                {% for post in site.categories['news_section'] limit:3 %}
                    <div class="news_section_entry">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="news_section_transport_block">
            <h1>Transportation</h1>
            <div class="news_section_transport">
                {% for post in site.categories['news_section'] limit:3 %}
                    <div class="news_section_entry">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <p class="excerpt">{{ post.excerpt }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endcomment %}
    
</section>

{% include hub_right_sidebar.html %}

