---
layout: default
---

{% include post_left_sidebar.html %}

<section class="post_column_main">

    <h1>{{ page.title }}</h1>
    <div class="meta">
        {% if site.development %}
        <p class="date">{% if page.date %} {{ page.date | date: site.data.format.long }} {% else %} Undated {% endif %}</p>
        {% if page.excerpt %}<p class="excerpt">{{ page.excerpt }}</p>{% endif %}
        <p class="category">Categories:&nbsp;{{ page.categories | join: ", "}}</p>
        <p class="tag">Tags:&nbsp;{{ page.tags | join: ", " }}</p>
        {% else %}
        <p class="date">{% if page.date %} {{ page.date | date: site.data.format.date_only }} {% else %} Undated {% endif %}</p>
        {% endif %}
    </div>

    {% if page.image.source != nil %}
        <div class="image_container">
        {% if page.image.layout == "auto_width" %}
            <div class="image_auto_width">
                <img width="100%" height="auto" src="{{ site.image_source }}{{ page.image.source }}" />
                <p class="attribution">image by {{ page.image.attribution }}&nbsp;</p>
            </div>
        {% else %}
            <div>
                <img width="100%" height="auto" src="{{ site.image_source }}{{ page.image.source }}" />
                <p class="attribution">image by {{ page.image.attribution }}&nbsp;</p>
            </div>
        {% endif %}
        </div>
    {% endif %}
    
    {% if page.video.source != nil and page.video.layout == "top" %}
    <div class="video_container">
        <p class="video_link"><span>Link to video:</span><br/><a href="https://www.youtube.com/watch?v={{ page.video.source }}">https://www.youtube.com/watch?v={{ page.video.source }}</a></p>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/{{ page.video.source }}" frameborder="0"></iframe>
        </div>
        <p class="attribution">video by {{ page.video.attribution }}&nbsp;</p>
    </div>
    {% endif %}
    
    {{ content }}
    
    {% if page.video.source != nil and page.video.layout == "bottom" %}
    <div class="video_container">
        <p class="video_link"><span>Link to video:</span><br/><a href="https://www.youtube.com/watch?v={{ page.video.source }}">https://www.youtube.com/watch?v={{ page.video.source }}</a></p>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/{{ page.video.source }}" frameborder="0"></iframe>
        </div>
        <p class="attribution">video by {{ page.video.attribution }}&nbsp;</p>
    </div>
    {% endif %}

    {% if page.sources.size > 0 %}
    <div class="info_sources">
        <p>Sources:
            {% for source in page.sources %}
                {% if source.link %}
            <span><a href="{{ source.link }}">{{ source.label }}</a></span>{% unless forloop.last %},{% endunless %}
                {% else %}
            <span>{{ source.label }}</span>{% unless forloop.last %},{% endunless %}
                {% endif %}
            {% endfor %}
        </p>
    </div>
    {% endif %}

    {% include post_bottom.html %}

</section>

{% include post_right_sidebar.html %}
