---
layout: default
---

{% include post_left_sidebar.html %}

<section class="post_column_main">

    <h1>{{ page.title }}</h1>
    <div class="meta">
        {% if site.development %}

            {% if page.image.source %}
        <img src="{{ site.image_source }}{{ page.image.source }}" />
            {% elsif page.categories contains 'president' %}
        <img src="{{ site.url }}/images/post/post_president.png?4362984378" />
            {% elsif page.categories contains 'criminality' %}
        <img src="{{ site.url }}/images/post/post_crime.png?4362984378" />
            {% elsif page.categories contains 'agrarian' %}
        <img src="{{ site.url }}/images/post/post_agrarian.png?4362984378" />
            {% elsif page.categories contains 'environment' %}
        <img src="{{ site.url }}/images/post/post_env.png?4362984378" />
            {% elsif page.categories contains 'foreign affairs' %}
        <img src="{{ site.url }}/images/post/post_foreign.png?4362984378" />
            {% elsif page.categories contains 'business' %}
        <img src="{{ site.url }}/images/post/post_business.png?4362984378" />
            {% elsif page.categories contains 'peace process' %}
        <img src="{{ site.url }}/images/post/post_peace.png?4362984378" />
            {% elsif page.categories contains 'opinion' %}
        <img src="{{ site.url }}/images/post/post_opinion.png?4362984378" />
            {% else %}
        <img src="{{ site.url }}/images/twitter_summary_card_01.png?4362984378" />
            {% endif %}

        <p class="date">{% if page.date %} {{ page.date | date: site.data.format.long }} {% else %} Undated {% endif %}</p>
        {% if page.excerpt %}<p class="excerpt">{{ page.excerpt }}</p>{% endif %}
        <p class="category">Categories:&nbsp;{{ page.categories | join: ", "}}</p>
        <p class="tag">Tags:&nbsp;{{ page.tags | join: ", " }}</p>

        {% else %}

        <p class="date">{% if page.date %} {{ page.date | date: site.data.format.date_only }} {% else %} Undated {% endif %}</p>

        {% endif %}
    </div>

    {% if page.image.source != nil %}
        {% if page.video.source != nil and page.video.layout == "top" %}
            <div class="video_container">
                <p class="video_link"><span>Link to video:</span><br/><a href="https://www.youtube.com/watch?v={{ page.video.source }}">https://www.youtube.com/watch?v={{ page.video.source }}</a></p>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/{{ page.video.source }}" frameborder="0"></iframe>
                </div>
                <p class="attribution">video by {{ page.video.attribution }}&nbsp;</p>
            </div>
        {% else %}
            {% unless page.image.layout == "none" %}
            <div class="image_container">
                {% if page.image.layout == "auto_width" %}
                <div class="image_auto_width">
                {% else %}
                <div>
                {% endif %}
                    <img width="100%" height="auto" src="{{ site.image_source }}{{ page.image.source }}" />
                    <p class="attribution">image by {{ page.image.attribution }}&nbsp;</p>
                </div>
            </div>
            {% endunless %}
        {% endif %}
    {% else %}
        {% if page.video.source != nil and page.video.layout == "top" %}
        <div class="video_container">
            <p class="video_link"><span>Link to video:</span><br/><a href="https://www.youtube.com/watch?v={{ page.video.source }}">https://www.youtube.com/watch?v={{ page.video.source }}</a></p>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/{{ page.video.source }}" frameborder="0"></iframe>
            </div>
            <p class="attribution">video by {{ page.video.attribution }}&nbsp;</p>
        </div>
        {% endif %}
    {% endif %}
    
    {{ content }}
    
    {% if page.image.source != nil and page.video.source != nil and page.video.layout == "bottom" %}
    <div class="video_container">
        <p class="video_link"><span>Link to video:</span><br/><a href="https://www.youtube.com/watch?v={{ page.video.source }}">https://www.youtube.com/watch?v={{ page.video.source }}</a></p>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/{{ page.video.source }}" frameborder="0"></iframe>
        </div>
        <p class="attribution">video by {{ page.video.attribution }}&nbsp;</p>
    </div>
    {% endif %}

    {% if page.sources.size and page.sources.size > 0 and page.sources[0].link %}
    <div class="info_sources">
        <p>Sources:
            {% for source in page.sources %}
                {% if source.link %}
            <span><a href="{{ source.link }}">{{ source.label }}</a></span>{% unless forloop.last %},{% endunless %}
                {% else %}
            <span>{{ source.label }}</span>{% unless forloop.last %},{% endunless %}
                {% endif %}
            {% endfor %}
        </p>
    </div>
    {% endif %}

    {% include post_bottom.html %}

</section>

{% include post_right_sidebar.html %}
